<template>
  <div class="flex justify-around items-center bg-white rounded px-4 lg:px-10">
    <div class="py-4 relative h-full flex flex-col justify-center">
      <button
        class="text-base lg:text-2xl font-semibold"
        @click="toCartPage('cart')">
        Order
      </button>
      <div
        v-if="state ==='cart'"
        class="absolute bottom-0 w-full h-1 border border-solid border-primary rounded bg-primary">
      </div>
    </div>
    <div class="w-1/4 h-px border border-solid border-offline rounded bg-offline hidden lg:flex"></div>
    <!-- <div v-if="state === 'checkOut' || state === 'payment'">
      <div class="py-4 relative h-full flex flex-col justify-center">
        <button
          class="text-base lg:text-2xl font-semibold"
          @click="toCartPage('checkout')">
          Check Out
        </button>
        <div
          v-if="state === 'checkOut'"
          class="absolute bottom-0 w-full h-1 border border-solid border-primary rounded bg-primary">
        </div>
      </div>
    </div>
    <div v-else>
      <div class="py-4 relative h-full flex flex-col justify-center">
        <button
          class="text-base lg:text-2xl font-semibold text-offline"
          @click="toCartPage('checkout')">
          Check Out
        </button>
      </div>
    </div>
    <div class="w-1/4 h-px border border-solid border-offline rounded bg-offline hidden lg:flex"></div> -->
    <div v-if="state =='payment'">
      <div class="py-4 relative h-full flex flex-col justify-center">
        <button
          class="text-base lg:text-2xl font-semibold">
          Pay
        </button>
        <div
          class="absolute bottom-0 w-full h-1 border border-solid border-primary rounded bg-primary">
        </div>
      </div>
    </div>
    <div v-else>
      <div class="py-4 relative h-full flex flex-col justify-center">
        <button
          class="text-base lg:text-2xl font-semibold text-offline"
          @click="toCartPage('payment')">
          Pay
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CartStatus',
  computed: {
    state () {
      return this.$store.getters['Cart/state']
    }
  },
  methods: {
    toCartPage (page) {
      switch (page) {
        case 'cart':
          this.$router.push('/order')
          break
        case 'payment':
          this.$store.dispatch('Cart/setAction', 'toPayment')
          break
        default:
          break
      }
    }
  }
}
</script>

<style>

</style>
