<template>
  <div class="py-6 bg-[#f7f8fa]">
    <div class="container flex flex-col gap-4">
      <div class="flex flex-col justify-center items-center gap-6 mt-2 lg:mt-6">
        <h1 class="font-semibold text-2xl">
          Order Summary
        </h1>
        <div class="w-full h-px border berder-solid border-offline"></div>
      </div>
      <div v-if="itemInCart !== 0">
        <h1 class="font-semibold text-base lg:text-2xl mb-2 lg:mb-6">
          Order
        </h1>
        <OrderList
          v-for="(item, index) in cart"
          :key="index"
          :item="item"
          :total="item.total"
          :index="index"
          @toggleAction="toggleAction" />
      </div>
      <div v-else>
        <h1 class="font-semibold text-base lg:text-2xl mb-2 lg:mb-6">
          There is no Order in cart
        </h1>
      </div>
      <div class="flex justify-between flex-col lg:flex-row">
        <div class="w-fit flex flex-col gap-6">
          <h1 class="font-semibold text-2xl">
            Delivery Option
          </h1>
          <div class="flex flex-col gap-2">
            <!-- <div class="flex justify-between gap-3">
              <div class="w-fit flex justify-start items-center gap-2 bg-white rounded border border-solid border-offline">
                <input
                  id="Delivery"
                  v-model="currentOrderMethod"
                  type="radio"
                  name="Delivery"
                  value="DELIVERY"
                  class="ml-4 accent-login"
                  @change="setOrderMethod(value)">
                <label
                  for="Delivery"
                  class="flex justify-center items-center gap-2 py-2 pr-4 cursor-pointer">
                  <svg
                    width="48"
                    height="48"
                    viewBox="0 0 48 48"
                    xmlns="http://www.w3.org/2000/svg"
                    class="fill-primary">
                    <path d="M38 14C38 11.8 36.2 10 34 10H30C28.9 10 28 10.9 28 12C28 13.1 28.9 14 30 14H34V19.3L27.04 28H20V20C20 18.9 19.1 18 18 18H12C7.58 18 4 21.58 4 26V30C4 31.1 4.9 32 6 32H8C8 35.32 10.68 38 14 38C17.32 38 20 35.32 20 32H27.04C28.26 32 29.4 31.44 30.16 30.5L37.12 21.8C37.7 21.08 38 20.2 38 19.3V14ZM14 34C12.9 34 12 33.1 12 32H16C16 33.1 15.1 34 14 34Z" />
                    <path d="M12 12H18C19.1 12 20 12.9 20 14C20 15.1 19.1 16 18 16H12C10.9 16 10 15.1 10 14C10 12.9 10.9 12 12 12ZM38 26C34.68 26 32 28.68 32 32C32 35.32 34.68 38 38 38C41.32 38 44 35.32 44 32C44 28.68 41.32 26 38 26ZM38 34C36.9 34 36 33.1 36 32C36 30.9 36.9 30 38 30C39.1 30 40 30.9 40 32C40 33.1 39.1 34 38 34Z" />
                  </svg>
                  <div class="flex flex-col">
                    <h1 class="font-semibold ">Delivery</h1>
                    <span class="text-sm">You can choose the DELIVERY time.</span>
                  </div>
                </label>
              </div>
              <div class="p-3 flex gap-2 bg-white rounded border border-solid border-offline flex-col lg:flex-row lg:gap-7">
                <div class="flex flex-col justify-center items-center">
                  <h1 class="font-semibold ">
                    {{ date }}
                  </h1>
                  <span class="text-sm">{{ time }}</span>
                </div>
                <button
                  class=" px-8 py-2 text-login rounded bg-white border border-solid border-login hover:bg-login hover:text-white duration-200"
                  @click="togglePickTime()">
                  Edit
                </button>
              </div>
            </div> -->
            <div class="w-fit flex justify-start items-center gap-2 bg-white rounded border border-solid border-offline">
              <input
                id="PickUp"
                v-model="currentOrderMethod"
                type="radio"
                name="PickUp"
                value="PICKUP"
                class="ml-4 accent-login"
                @change="setOrderMethod(value)">
              <label
                for="PickUp"
                class="flex justify-center items-center gap-2 py-2 pr-4 cursor-pointer">
                <svg
                  width="48"
                  height="48"
                  viewBox="0 0 48 48"
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4/5 fill-primary">
                  <path
                    d="M21.6 7.80001L9.6 16.8C8.6 17.56 8 18.74 8 20V38C8 40.2 9.8 42 12 42H36C38.2 42 40 40.2 40 38V20C40 18.74 39.4 17.56 38.4 16.8L26.4 7.80001C25.7063 7.28378 24.8647 7.00497 24 7.00497C23.1353 7.00497 22.2937 7.28378 21.6 7.80001ZM25 25C25 26.66 23.66 28 22 28V35C22 35.56 21.56 36 21 36C20.44 36 20 35.56 20 35V28C18.34 28 17 26.66 17 25V20C17 19.44 17.44 19 18 19C18.56 19 19 19.44 19 20V25H20V20C20 19.44 20.44 19 21 19C21.56 19 22 19.44 22 20V25H23V20C23 19.44 23.44 19 24 19C24.56 19 25 19.44 25 20V25ZM29 36C28.44 36 28 35.56 28 35V29H27C26.44 29 26 28.56 26 28V23C26 21.24 27.14 19.74 28.72 19.22C29.34 19 30 19.5 30 20.18V35C30 35.56 29.56 36 29 36Z"
                  />
                </svg>
                <div class="flex flex-col">
                  <h1 class="font-semibold ">Pick Up at Restaurant</h1>
                  <span class="text-sm">You can Pick Up your Order at Restaurant in 30 min.</span>
                </div>
              </label>
            </div>
            <div
              v-if="pickTime == true"
              class="w-full flex justify-center items-center">
              <ChooseTime
                @togglePickTime="togglePickTime()" />
            </div>
          </div>
        </div>
        <div>
          <div class="text-right grid grid-cols-1 gap-x-12 mt-4 lg:mt-0">
            <div
              v-for="(item, index) in receipt"
              :key="index">
              <div
                v-if="item.value!=='$0.00' || item.title==='Subtotal' || item.title==='Tax'"
                class="my-px lg:my-2 flex justify-end">
                <span class="mr-4">{{ item.title }}</span>
                <span class="w-40">{{ item.value }}</span>
              </div>
            </div>
            <div class="my-2 flex justify-end text-2xl">
              <span class="font-semibold mr-4">Total</span>
              <span class="font-semibold w-40">{{ net }} </span>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full h-px border berder-solid border-offline"></div>
      <div class="w-full flex justify-center gap-x-9 flex-col lg:flex-row">
        <button
          v-if="!sended"
          :disabled="!(itemInCart > 0 && isOnlineOrdering)"
          :class="{
            'bg-info': !(itemInCart > 0 && isOnlineOrdering),
            'bg-confirm': (itemInCart > 0 && isOnlineOrdering)
          }"
          class="px-16 py-2 rounded text-center text-white"
          @click="toPay()">
          Pay Now
        </button>
        <button
          v-else
          class="px-16 py-2 rounded text-center text-white bg-info cursor-default">
          <div class="flex justify-center items-center">
            <span>
              <img
                loading="lazy"
                :src="loadingImage"
                class="w-full h-8 animate-spin">
            </span>
            <span>Processing...</span>
          </div>
        </button>
        <button class="py-2 rounded text-center text-secondary bg-transparent">
          <NuxtLink
            to="/"
            class="w-full h-full ">
            Back
          </NuxtLink>
        </button>
      </div>
      <div
        v-if="!isLogin"
        class="absolute">
        <transition name="fade">
          <LogIn
            v-if="isLoggingIn"
            @showCreate="showCreate()"
            @showGuest="showGuest()"
            @close="close()" />
          <CreateAcc
            v-if="isCreating"
            @showLogin="showLogin()"
            @showGuest="showGuest()"
            @close="close()" />
          <GuestLogin
            v-if="isGuestIn"
            @showCreate="showCreate()"
            @showLogin="showLogin()"
            @close="close()" />
        </transition>
      </div>
    </div>
    <transition name="fade">
      <WarningModal
        v-if="action"
        :text="message"
        @next="next()" />
    </transition>
  </div>
</template>

<script>
import OrderList from '@/components/cart/orderList.vue'
import ChooseTime from '@/components/modal/chooseTime.vue'
import LogIn from '@/components/modal/logIn.vue'
import CreateAcc from '@/components/modal/CreateAcc.vue'
import GuestLogin from '@/components/modal/guestLogin.vue'
import WarningModal from '@/components/modal/warningModal.vue'
import OrderProvider from '@/resources/OrderProvider'

const OrderService = new OrderProvider()

export default {
  name: 'CartOrder',
  components: {
    ChooseTime,
    OrderList,
    LogIn,
    CreateAcc,
    GuestLogin,
    WarningModal
  },
  data () {
    return {
      show: false,
      currentOrderMethod: 'PICKUP',
      pickTime: false,
      newDate: '',
      isLoggingIn: false,
      isGuestIn: false,
      isCreating: false,
      action: false,
      message: null,
      sended: false,
      loadingImage: 'https://img.icons8.com/material-sharp/96/null/spinner-frame-6.png'
    }
  },
  computed: {
    receipt () {
      return this.$store.getters['Cart/receipt']
    },
    net () {
      return this.$store.getters['Cart/netTotal']
    },
    orderMethod () {
      return this.$store.getters['Cart/orderMethod']
    },
    itemInCart () {
      return this.$store.getters['Cart/itemInCart']
    },
    cart () {
      return this.$store.getters['Cart/items']
    },
    date () {
      return this.$store.getters['Cart/date']
    },
    time () {
      return this.$store.getters['Cart/time']
    },
    isLogin () {
      return this.$store.getters['User/isLogin']
    },
    isGuestLogin () {
      return this.$store.getters['User/isGuestLogin']
    },
    restaurant () {
      return this.$store.getters['WebSetting/restaurant']
    },
    isOnlineOrdering () {
      return this.$store.getters['WebSetting/isOnlineOrdering']
    },
    statusAction () {
      return this.$store.getters['Cart/action']
    }
  },
  watch: {
    statusAction (newAction) {
      if (newAction.includes('toPayment')) {
        this.toPay()
      }
    }
  },
  mounted () {
    this.currentOrderMethod = this.orderMethod
    this.$store.dispatch('Cart/setState', 'cart')
    this.$store.dispatch('Cart/setTax', this.restaurant.taxRate)
    // this.$store.dispatch('Cart/setServiceCharge', this.restaurant.defaultServiceCharge)
    this.$store.dispatch('Cart/setDateTime', {
      date: this.getToday(),
      time: this.getTime()
    })
    this.$store.dispatch('Cart/setAction', '')
  },
  methods: {
    togglePickTime () {
      this.pickTime = !this.pickTime
    },

    async toPay () {
      if (!this.isLogin && !this.isGuestLogin) {
        this.isLoggingIn = true
        return
      }
      const item = []
      const cartItem = this.cart
      cartItem.forEach((menu) => {
        const newItem = {
          menuId: menu.id,
          name: menu.name,
          nativeName: menu.nativeName,
          price: menu.price,
          isContainAlcohol: menu.isContainAlcohol,
          modifiers: menu.activeMod,
          coverImage: menu.coverImage,
          unit: menu.amount,
          amount: menu.total,
          note: menu.note
        }
        item.push(newItem)
      })

      const data = {
        alcoholTax: this.$store.getters['Cart/alcoholTax'],
        discount: 0,
        items: item,
        restaurantId: this.$store.getters['WebSetting/restaurantId'],
        serviceCharge: this.$store.getters['Cart/serviceCharge'],
        subtotal: this.$store.getters['Cart/subTotal'],
        tax: this.$store.getters['Cart/tax'],
        total: Number(this.$store.getters['Cart/netTotal'].replace('$', '')),
        customerId: this.$store.getters['User/id'],
        customer: this.$store.getters['User/user'],
        orderMethod: this.$store.getters['Cart/orderMethod'],
        pickUpDate: this.$store.getters['Cart/pickupDateTime']
      }

      if (data?.items) {
        this.sended = true
        try {
          const checkout = await OrderService.createOrder(data)
          this.$store.dispatch('Cart/setOrderId', checkout.id)
          this.sended = false
          this.$store.dispatch('Cart/resetCart')
          this.$router.push(`/payment/${checkout.id}`)
        } catch (error) {
          this.sended = false
          this.action = true
          this.message = error.message
        }
      }
    },

    next () {
      this.action = false
      this.message = null
    },

    setOrderMethod (event) {
      const val = event.target.value
      this.$store.dispatch('Cart/setOrderMethod', val)
    },
    getToday () {
      return this.$dayjs().format('YYYY-MM-DD')
    },
    getTime () {
      let time = ''
      if (Number(this.$dayjs().format('mm')) <= 30) {
        time = `${this.$dayjs().format('hh:00A')} - ${this.$dayjs().add(1, 'h').format('hh:00A')}`
      } else {
        time = `${this.$dayjs().add(1, 'h').format('hh:00A')} - ${this.$dayjs().add(2, 'h').format('hh:00A')}`
      }
      return time
    },
    showLogin () {
      this.isLoggingIn = true
      this.isCreating = false
      this.isGuestIn = false
    },
    showCreate () {
      this.isLoggingIn = false
      this.isCreating = true
      this.isGuestIn = false
    },
    showGuest () {
      this.isLoggingIn = false
      this.isCreating = false
      this.isGuestIn = true
    },
    close () {
      this.isLoggingIn = false
      this.isCreating = false
      this.isGuestIn = false
    },
    toggleAction (message) {
      this.message = message
      this.action = true
      setTimeout(() => {
        this.action = false
        this.message = ''
      }, 1500)
    }
  }
}

</script>

<style scoped>

</style>
