<template>
  <section>
    <client-only>
      <div class="flex flex-col justify-between lg:flex-row">
        <div class="flex gap-4 w-full lg:w-2/3 mb-4">
          <div class="w-1/2">
            <img
              loading="lazy"
              :src="item.coverImage || item.imageUrls || ''"
              alt="menu"
              class="w-full h-40 object-cover"
              @error="imgError($event)">
          </div>
          <div class="flex flex-col justify-start gap-1 lg:gap-4 w-1/2 lg:w-full">
            <h1>{{ item.name }}</h1>
            <div>
              <textarea
                v-if="editing"
                v-model="note"
                placeholder="Note"
                class="max-w-full my-2 p-2 rounded border border-solid border-offline"></textarea>
              <div
                v-else
                class="max-w-full h-16 my-2 p-2 rounded border border-solid border-offline">
                <h1> Note: {{ note || '-' }} </h1>
              </div>
            </div>
            <div class="flex items-center gap-1 lg:gap-8 justify-between lg:justify-start flex-row">
              <span class="w-16">{{ price }}</span>
              <div
                class="grid grid-cols-3 bg-white rounded border border-solid border-offline">
                <button
                  class="rounded bg-offline w-8 h-8 flex justify-center items-center"
                  @click="decrease()">
                  -
                </button>
                <span class="flex justify-center items-center">{{ item.amount }}</span>
                <button
                  class="rounded bg-offline w-8 h-8 flex justify-center items-center"
                  @click="increase()">
                  +
                </button>
              </div>
            </div>
          </div>
        </div>

        <div
          v-if="!editing"
          class="w-full lg:w-72 flex flex-col items-end">
          <button
            class="h-fit px-8 py-2 flex justify-center rounded bg-white border border-solid border-login drop-shadow text-base font-medium text-login hover:drop-shadow-sm hover:bg-login hover:text-white duration-200"
            @click="toggleMod()">
            <span>
              Edit
            </span>
          </button>
          <div
            class="w-full grid grid-cols-1 gap-x-12">
            <div
              class="w-full flex flex-col pt-4">
              <span class="text-right">Modifier(s)</span>
              <div class="w-full h-px border border-solid border-offline/50 my-1"></div>
              <div
                v-for="(mod, subIndex) in item.activeMod"
                :key="subIndex"
                class="my-2 flex justify-between items-end">
                <div class="flex flex-row gap-1 lg:flex-col lg:gap-2">
                  <span>{{ mod.label }}</span>
                  <span class="mr-4 text-left"> {{ mod.name }} </span>
                </div>
                <span class="text-right">+{{ formatPrice(mod.price) }} </span>
              </div>
            </div>
          </div>
        </div>

        <div
          v-else
          class="w-full lg:w-72 flex flex-col items-end">
          <div class="flex gap-4">
            <button
              :disabled="!pass"
              class="h-fit px-8 py-2 flex justify-center rounded bg-confirm drop-shadow hover:drop-shadow-sm disabled:bg-info duration-100"
              @click="save()">
              <span class="text-base font-medium text-white">
                Save
              </span>
            </button>
            <button
              class="h-fit px-8 py-2 flex justify-center rounded bg-white text-base font-medium text-danger border border-solid border-danger drop-shadow hover:drop-shadow-sm hover:bg-danger hover:text-white duration-200"
              @click="cancel()">
              <span>
                Cancel
              </span>
            </button>
          </div>
          <div class="w-full grid grid-cols-1 gap-x-12">
            <div class="w-full flex flex-col pt-4">
              <span class="text-right">Modifier(s)</span>
              <div class="w-full h-px border border-solid border-offline/50 my-1"></div>
              <div
                v-for="(mod, modIndex) in newMod"
                :key="modIndex">
                <div
                  :class="{'cursor-default': mod.req === 'REQUIRED'}"
                  class="w-full flex flex-col lg:flex-row justify-between cursor-pointer"
                  @click="toggleShow(modIndex, mod.req)">
                  <div class="w-full flex flex-col">
                    <span>{{ mod.label }}</span>
                    <span class="text-xs lg:text-sm text-info">{{ mod.req }}</span>
                    <span class="font-normal">
                      (Maximum Selected
                      {{ mod.maxSelected }}
                      )
                    </span>
                  </div>
                </div>
                <div
                  v-if="mod.show">
                  <label
                    v-for="(choice, choiceIndex) in mod.items"
                    :key="choiceIndex"
                    class="my-2 p-1 rounded flex justify-between hover:bg-info duration-100 cursor-pointer">
                    <div>
                      <input
                        :id="choice"
                        v-model="mod.value"
                        type="checkbox"
                        class="accent-login"
                        :name="choice"
                        :value="mapChoiceValue(mod, choice)"
                        @change="trimMod(mod.value, mod.maxSelected)">
                      <span class="ml-1 text-left">{{ choice.name }}</span>
                    </div>
                    <span class="text-right">+{{ formatPrice(choice.price) }}</span>
                  </label>
                  <div
                    class="h-fit text-sm font-normal md:text-base flex justify-center items-center py-1 lg:py-2 bg-info rounded cursor-pointer"
                    @click="toggleShow(modIndex, mod.req)">
                    Hide modifier(s)
                  </div>
                </div>
                <div
                  v-else
                  class="h-fit text-sm font-normal md:text-base flex justify-center items-center py-1 lg:py-2 bg-info rounded cursor-pointer"
                  @click="toggleShow(modIndex, mod.req)">
                  Show modifier(s)
                </div>
                <div class="w-full h-px border border-solid border-offline/50 my-1"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full h-px border border-solid border-offline my-6"></div>

      <transition name="fade">
        <confirmModal
          v-if="removePromp"
          :name="item.name"
          @remove="remove()"
          @cancelRemove="cancelRemove()" />
      </transition>
    </client-only>
  </section>
</template>

<script>
import confirmModal from '@/components/modal/confirmModal.vue'

export default {
  name: 'OrderList',
  components: { confirmModal },
  props: {
    item: {
      type: Object,
      default: null
    },
    index: {
      type: Number,
      default: -1
    },
    total: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      editing: false,
      removePromp: false,
      note: '',
      newMod: [{
        req: 'REQUIRED',
        reqMet: false,
        maxSelected: 0,
        label: '',
        items: [],
        value: [],
        id: 'modifier-id',
        abbreviation: '',
        show: false
      }]
    }
  },
  computed: {
    state () {
      return this.$store.getters['Cart/state']
    },
    price () {
      return this.formatPrice(this.total)
    },
    pass () {
      return this.checkPass()
    }
  },
  mounted () {
    this.reset()
    this.newMod = this.item.modifiers.map((mod) => {
      const show = this.setShow(mod.type)
      const data = {
        req: mod.type,
        reqMet: false,
        maxSelected: mod.maxSelected,
        label: mod.label,
        items: mod.items,
        value: [],
        id: mod.id,
        abbreviation: mod.abbreviation,
        show
      }
      return data
    })
    this.item.activeMod.forEach((active) => {
      this.mapMod(active)
    })
    this.checkRequired()
  },
  methods: {
    imgError (event) {
      const eventTatget = event.target
      eventTatget.src = '/images/dummy.jpg'
    },
    reset () {
      this.note = this.item.note
      this.setAmount(this.item.amount, this.index)
    },
    increase () {
      this.amount = this.item.amount + 1
      this.setAmount(this.amount, this.index)
    },
    decrease () {
      if (this.item.amount <= 1) {
        this.removePromp = true
        return
      }
      this.amount = this.item.amount - 1
      this.setAmount(this.amount, this.index)
    },
    setAmount (amount, index) {
      this.$store.dispatch('Cart/setAmount', { index, amount })
    },
    toggleMod () {
      this.editing = !this.editing
    },
    save () {
      let saveMod = []
      this.newMod.forEach((mod) => {
        saveMod = saveMod.concat(mod.value)
      })
      this.$store.dispatch('Cart/setMod', {
        index: this.index,
        mod: saveMod
      })
      this.$store.dispatch('Cart/setNote', {
        index: this.index,
        note: this.note
      })
      this.reset()
      this.toggleMod()
      this.toggleAction('modifier(s) saved.')
    },
    cancel () {
      this.reset()
      this.toggleMod()
      this.toggleAction('modifier(s) not changed.')
    },
    remove () {
      if (this.index !== -1) {
        this.$store.dispatch('Cart/removeFromCart', this.index)
      }
      this.toggleAction('Menu removed from cart.')
      this.cancelRemove()
      window.location.reload()
    },
    cancelRemove () {
      this.removePromp = false
    },
    trimMod (val, max) {
      if (val.length > max) {
        val.shift()
      }
      this.checkRequired()
    },
    formatPrice (price) {
      const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD'
      })
      return formatter.format(price)
    },
    checkRequired () {
      this.newMod = this.newMod.map((mod) => ({
        ...mod,
        reqMet: (mod.req === 'REQUIRED' && mod.value.length > 0) || mod.req === 'OPTIONAL'
      }))
    },

    checkPass () {
      return this.newMod.every((mod) => mod.reqMet)
    },

    setShow (type) {
      return ['REQUIRED'].includes(type)
    },

    mapChoiceValue (mod, choice) {
      return {
        id: mod.id,
        label: mod.label,
        abbreviation: mod.abbreviation,
        ...choice
      }
    },
    mapMod (active) {
      const match = this.newMod.findIndex((mod) => mod.label === active.label)
      if (match !== -1) {
        this.newMod[match].value.push(active)
      }
    },
    toggleShow (index, req) {
      if (req === 'REQUIRED') return
      this.newMod[index].show = !this.newMod[index].show
    },
    toggleAction (message) {
      this.$emit('toggleAction', message)
    }
  }
}
</script>

<style>

</style>
