<template>
  <div>
    <ValidationObserver ref="form">
      <div>
        <h1 class="text-2xl font-semibold mb-4 lg:mb-10">
          Payment
        </h1>
        <div class="flex flex-col gap-4">
          <ValidationProvider
            v-slot="{ errors }"
            name="Card Name"
            rules="required">
            <label
              for="Card Name"
              class="text-base lg:text-lg font-medium">Card Holder's Name</label>
            <input
              v-model="cardName"
              name="Card Name"
              type="text"
              placeholder="Card Name"
              class="w-full px-4 py-2 rounded bg-white drop-shadow hover:drop-shadow-sm"
              @change="check()">
            <span class="err">{{ errors[0] }}</span>
          </ValidationProvider>
          <form
            id="tokenform"
            name="tokenform">
            <label
              for="Card Number"
              class="text-base lg:text-lg font-medium">Card Number</label>
            <iframe
              id="tokenFrame"
              name="tokenFrame"
              :src="`${iframeSrc}${css}`"
              class="w-full h-10 pt-0.5 px-2 rounded bg-white drop-shadow hover:drop-shadow-sm"
              frameborder="0"
              scrolling="no"></iframe>
            <input
              id="mytoken"
              type="hidden"
              name="mytoken"
              @change="check()" />
          </form>
          <div class="w-full lg:w-1/2 flex justify-between gap-6">
            <div>
              <label
                for=""
                class="text-base lg:text-lg font-medium">Expiration Date</label>
              <div class="flex gap-1 items-center">
                <ValidationProvider
                  v-slot="{ errors }"
                  name="expireMonth"
                  rules="required|cardMonth">
                  <input
                    v-model="expireMonth"
                    name="expireMonth"
                    type="number"
                    placeholder="MM"
                    class="w-16 px-4 py-2 rounded bg-white drop-shadow hover:drop-shadow-sm"
                    @change="check()">
                  <div
                    v-if="errors[0]"
                    class="w-16 rounded bg-transparent border border-danger"></div>
                </ValidationProvider>
                <h1>/</h1>
                <ValidationProvider
                  v-slot="{ errors }"
                  name="expireYear"
                  rules="required|cardYear">
                  <input
                    v-model="expireYear"
                    name="expireYear"
                    type="number"
                    placeholder="YY"
                    class="w-16 px-4 py-2 rounded bg-white drop-shadow hover:drop-shadow-sm"
                    @change="check()">
                  <div
                    v-if="errors[0]"
                    class="w-16 rounded bg-transparent border border-danger"></div>
                </ValidationProvider>
              </div>
            </div>
            <div class="w-1/2">
              <label
                for="cvv"
                class="text-base lg:text-lg font-medium">CVV</label>
              <ValidationProvider
                v-slot="{ errors }"
                name="cvv"
                rules="required|cvv">
                <input
                  v-model="cvv"
                  name="cvv"
                  type="number"
                  placeholder="000"
                  class="w-full px-4 py-2 gap-4 rounded bg-white drop-shadow hover:drop-shadow-sm"
                  @change="check()">
                <div
                  v-if="errors[0]"
                  class="w-full rounded bg-transparent border border-danger"></div>
              </ValidationProvider>
            </div>
          </div>
          <button
            v-if="!loading"
            :disabled="!formComplete || paid"
            class="w-full py-2 rounded text-center text-white bg-confirm drop-shadow hover:drop-shadow-sm disabled:bg-info disabled:cursor-default"
            @click="pay()">
            <span v-if="!paid">Pay Now</span>
            <span v-else>Paid</span>
          </button>
          <button
            v-else
            class="w-full py-2 rounded text-center text-white bg-info cursor-default">
            <div class="flex justify-center items-center">
              <span>
                <img
                  loading="lazy"
                  :src="loadingImage"
                  class="w-full h-8 animate-spin">
              </span>
              <span>Processing...</span>
            </div>
          </button>
        </div>
      </div>
    </ValidationObserver>

    <transition name="fade">
      <div v-if="action">
        <WarningModal
          :text="message"
          @next="next()" />
      </div>
    </transition>
    <transition name="fade">
      <div v-if="thankyouOn">
        <ThankyouPopup @hide="thankyouClose()" />
      </div>
    </transition>
  </div>
</template>

<script>
import WarningModal from '@/components/modal/warningModal.vue'
import ThankyouPopup from '@/components/modal/thankyouPopup.vue'
import OrderProvider from '@/resources/OrderProvider'

const OrderService = new OrderProvider()

export default {
  name: 'PaymentForm',
  components: {
    ThankyouPopup,
    WarningModal
  },
  props: {
    orderId: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      loadingImage: 'https://img.icons8.com/material-sharp/96/null/spinner-frame-6.png',
      cardName: '',
      token: '',
      cardNumber: '',
      expireMonth: '',
      expireYear: '',
      cvv: '',
      formComplete: false,
      account: '',
      paid: false,
      loading: false,
      iframeSrc: `${process.env.NUXT_ENV_PAYMENT_TOKEN_URL}?css=`,
      css: encodeURI('body{width: 100%;height: 100%;margin: 0} input{width: 100%;padding: 8px 16px;font-size: 16px;font-weight: 500;border: none;outline: none} input:focus{border: none;outline: none}'),
      action: false,
      message: null,
      thankyouOn: false
    }
  },
  computed: {
    itemInCart () {
      return this.$store.getters['Cart/itemInCart']
    },
    tips () {
      return this.$store.getters['Cart/tips']
    },
    convenienceFee () {
      return this.$store.getters['Cart/convenienceFee']
    },
    serviceChargeAmount () {
      return this.$store.getters['Cart/serviceChargeAmount']
    }
  },
  mounted () {
    window.addEventListener('message', this.receiveMessage)
    this.$store.dispatch('Cart/setState', 'payment')
    this.paid = false
  },
  methods: {
    thankyouClose () {
      this.thankyouOn = false
      this.$router.push('/')
    },
    receiveMessage (event) {
      if (typeof event.data === 'string' && event.data !== '' && event.data) {
        this.token = JSON.parse(event.data)
        const mytoken = document.getElementById('mytoken')
        mytoken.value = this.token.message
        this.account = mytoken.value
      }
    },
    async check () {
      if (await this.$refs.form.validate()) {
        this.formComplete = true
      }
    },
    async pay () {
      const id = this.orderId
      const { timeZone } = Intl.DateTimeFormat().resolvedOptions()
      const offsetTimeZone = new Date().getTimezoneOffset()
      const tips = typeof this.tips === 'string' ? Number(this.tips?.replace('$', '') || 0) : this.tips

      const data = {
        account: this.account,
        cardholderName: this.cardName,
        expirationMonth: String(this.expireMonth),
        expirationYear: String(this.expireYear),
        cvv: String(this.cvv),
        tips,
        timeZone,
        offsetTimeZone
      }

      this.loading = true
      try {
        await OrderService.updateOrder(id, data)
        this.$store.dispatch('Cart/resetCart')
        this.paid = true
        this.thankyouOn = true
      } catch (error) {
        this.action = true
        this.message = error.message
        this.nextMessage = 'Understood'
      } finally {
        this.loading = false
      }
    },
    next () {
      this.action = false
      this.message = null
    }
  }

}
</script>

<style>
.err {
  color: red;
  font-size: 12px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

iframe {
  margin: 0;
  padding: 0;
  border: none;
}
</style>
