<template>
  <section>
    <div class="flex flex-col justify-between lg:flex-row">
      <div class="flex gap-4 w-full lg:w-2/3 mb-4">
        <div
          class="w-1/3">
          <img
            loading="lazy"
            :src="receiptItem?.coverImage || receiptItem?.imageUrls || ''"
            alt="menu"
            class="w-32 lg:w-20 h-32 lg:h-20 object-cover"
            @error="imgError($event)">
        </div>
        <div class="flex flex-col justify-start gap-1 lg:gap-4 w-1/2 lg:w-full">
          <h1>{{ receiptItem.name }}</h1>
          <div
            class="max-w-full h-fit">
            <h1> Note: {{ receiptItem.note || '-' }} </h1>
          </div>
          <div class="flex items-center gap-1 lg:gap-8 justify-between lg:justify-start flex-row">
            <span class="w-16">{{ formatPrice(receiptItem.price) }}</span>
            <div>
              <span class="flex justify-center items-center">Amount {{ receiptItem.unit }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full lg:w-72 flex flex-col items-end">
        <div class="w-full grid grid-cols-1 gap-x-12">
          <div class="w-full flex flex-col">
            <span class="text-right">Modifier(s)</span>
            <div class="w-full h-px border border-solid border-offline/50 my-1"></div>
            <div
              v-for="(mod, index) in receiptItem.modifiers"
              :key="index"
              class="my-2 flex justify-between items-end">
              <div class="flex flex-row gap-1 lg:flex-col lg:gap-2">
                <span>{{ mod.label }}</span>
                <span class="mr-4 text-left"> {{ mod.name }} </span>
              </div>
              <span class="text-right">+{{ formatPrice(mod.price) }} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full h-px border border-solid border-offline my-6"></div>
  </section>
</template>

<script>

export default {
  name: 'PaymentOrderList',
  props: {
    receiptItem: {
      type: Object,
      default: null
    }
  },
  methods: {
    imgError (event) {
      const eventTatget = event.target
      eventTatget.src = '/images/dummy.jpg'
    },
    formatPrice (price) {
      const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD'
      })
      return formatter.format(price)
    }
  }
}
</script>

<style>

</style>
