<template>
  <div class="container flex flex-col w-full lg:w-1/2">
    <h1 class="mb-8 text-2xl font-semibold">
      Account Information
    </h1>
    <personal-info
      :user="user"
      :is-editing="isEditing"
      @updatePersonal="updatePersonal"
      @setPersonalValid="setPersonalValid"
    />
    <span
      v-if="isEditing"
      class="err">{{ error }}</span>
    <div class="w-full h-px border border-solid border-offline my-6"></div>
    <address-info
      :user="user"
      :is-editing="isEditing"
      @updateAddress="updateAddress"
      @setAddresslValid="setAddresslValid"
    />
  </div>
</template>

<script>
import PersonalInfo from '@/components/account/personalInfo.vue'
import AddressInfo from '@/components/account/addressInfo.vue'

export default {
  name: 'AccountInfo',
  components: {
    PersonalInfo,
    AddressInfo
  },
  props: {
    isEditing: {
      type: Boolean,
      default: false
    },
    isCancel: {
      type: Boolean,
      default: false
    },
    error: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      user: {
        firstName: '',
        lastName: '',
        email: '',
        tel: '',
        address: {
          address: '',
          city: '',
          state: '',
          zipCode: ''
        }
      },
      personalValid: false,
      addressValid: false
    }
  },
  computed: {
    newUser () {
      return this.$store.getters['User/user']
    }
  },
  watch: {
    isCancel () {
      if (this.isCancel) {
        this.reset()
      }
    }
  },
  mounted () {
    this.reset()
  },
  methods: {
    reset () {
      this.user.firstName = this.newUser.firstName
      this.user.lastName = this.newUser.lastName
      this.user.email = this.newUser.email
      this.user.tel = this.newUser.tel
      this.user.address.address = this.newUser.address.address
      this.user.address.city = this.newUser.address.city
      this.user.address.state = this.newUser.address.state
      this.user.address.zipCode = this.newUser.address.zipCode
    },
    updatePersonal (newPersonal) {
      this.user.firstName = newPersonal.firstName
      this.user.lastName = newPersonal.lastName
      this.user.email = newPersonal.email
      this.user.tel = newPersonal.tel
      this.$emit('setUser', this.user)
    },
    updateAddress (newAddress) {
      this.user.address.address = newAddress.address
      this.user.address.city = newAddress.city
      this.user.address.state = newAddress.state
      this.user.address.zipCode = newAddress.zipCode
      this.$emit('setUser', this.user)
    },
    setPersonalValid (val) {
      this.personalValid = val
      this.$emit('checkValid', this.personalValid, this.addressValid)
    },
    setAddresslValid (val) {
      this.addressValid = val
      this.$emit('checkValid', this.personalValid, this.addressValid)
    }
  }
}
</script>

<style>
.err {
  color: red;
  font-size: 12px;
}
</style>
