<template>
  <div class="flex justify-center">
    <div
      v-if="isLogin"
      class="flex flex-col">
      <div
        class="p-4 flex justify-center rounded bg-white border border-solid border-primary drop-shadow hover:drop-shadow-sm">
        <div class="flex flex-col">
          <div class="flex justify-start items-center gap-6">
            <img
              loading="lazy"
              :src="profilePic"
              class="w-10 h-10" />
            <span class="w-fit">{{ fullName }}</span>
          </div>
          <div class="w-full h-px border border-solid border-primary rounded my-4"></div>
          <div class="flex flex-col gap-8 p-2">
            <NuxtLink to="/account">
              <div class="flex gap-4">
                <img
                  loading="lazy"
                  src="/svg/accountIcon.svg">
                <span>Account Information</span>
              </div>
            </NuxtLink>
            <NuxtLink to="/order-history">
              <div class="flex gap-4">
                <img
                  loading="lazy"
                  src="/svg/accountList.svg">
                <span>Order History</span>
              </div>
            </NuxtLink>
          </div>
        </div>
      </div>
      <button
        class="my-4 py-2 text-base font-medium text-danger flex justify-center rounded bg-white border border-solid border-danger drop-shadow hover:drop-shadow-sm hover:bg-danger hover:text-white duration-200"
        @click="logOut()">
        <span>
          Logout
        </span>
      </button>
    </div>
    <button
      v-else
      class="p-4 flex justify-center rounded bg-white border border-solid border-primary drop-shadow hover:drop-shadow-sm cursor-default"
      @click="showLogin()">
      <h1>Please Login</h1>
    </button>
    <LogIn
      v-if="isLoggingIn || loginPromp "
      @showCreate="showCreate()"
      @close="close()" />
    <create-acc
      v-if="isCreating"
      @showLogin="showLogin()"
      @close="close()" />
  </div>
</template>

<script>
import LogIn from '@/components/modal/logIn.vue'
import CreateAcc from '@/components/modal/CreateAcc.vue'

export default {
  name: 'AccountTab',
  components: { LogIn, CreateAcc },
  data () {
    return {
      isLoggingIn: false,
      isCreating: false,
      profilePic: '/svg/accountIcon.svg',
      loginPromp: false
    }
  },
  computed: {
    fullName () {
      return this.$store.getters['User/fullName']
    },
    isLogin () {
      return this.$store.getters['User/isLogin']
    }
  },
  mounted () {
    if (!this.isLogin) {
      this.loginPromp = true
    }
  },
  methods: {
    logOut () {
      this.$store.dispatch('User/logOut')
      this.$router.push('/')
    },
    showLogin () {
      this.isLoggingIn = true
      this.isCreating = false
    },
    showCreate () {
      this.isLoggingIn = false
      this.isCreating = true
    },
    close () {
      this.isLoggingIn = false
      this.isCreating = false
      this.loginPromp = false
    }
  }
}
</script>

<style>

</style>
