<template>
  <section>
    <div>
      <h1 class="mt-4 mb-6 font-medium">
        Addresses Information
      </h1>

      <ValidationObserver ref="form">
        <div class="flex flex-col gap-4">
          <ValidationProvider
            v-slot="{ errors }"
            name="address"
            rules="required">
            <div>
              <label
                for="address"
                class="font-medium">Addresses</label>
              <input
                v-if="isEditing"
                v-model="newAddress.address"
                name="address"
                type="text"
                placeholder="0666666666"
                class="w-full p-2 rounded drop-shadow hover:drop-shadow-sm"
                @change="updateAddress()">
              <h1
                v-else
                class="w-full p-2 rounded drop-shadow hover:drop-shadow-sm bg-offline">
                {{ newAddress.address }}
              </h1>
              <span
                v-if="isEditing"
                class="err">{{ errors[0] }}</span>
            </div>
          </ValidationProvider>
          <div class="flex flex-col lg:flex-row justify-between gap-4">
            <ValidationProvider
              v-slot="{ errors }"
              name="City"
              rules="required"
              class="w-full">
              <div class="w-full flex flex-col">
                <label
                  for="City"
                  class="font-medium">City</label>
                <input
                  v-if="isEditing"
                  v-model="newAddress.city"
                  name="City"
                  type="text"
                  placeholder="Bangkok"
                  class="p-2 rounded drop-shadow hover:drop-shadow-sm"
                  @change="updateAddress()">
                <h1
                  v-else
                  class="p-2 rounded drop-shadow hover:drop-shadow-sm bg-offline">
                  {{ newAddress.city }}
                </h1>
                <span
                  v-if="isEditing"
                  class="err">{{ errors[0] }}</span>
              </div>
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="State"
              rules="required"
              class="w-full">
              <div class="w-full flex flex-col">
                <label
                  for="State"
                  class="font-medium">State</label>
                <input
                  v-if="isEditing"
                  v-model="newAddress.state"
                  name="State"
                  type="text"
                  placeholder="Thung Phaya Thai"
                  class="p-2 rounded drop-shadow hover:drop-shadow-sm"
                  @change="updateAddress()">
                <h1
                  v-else
                  class="p-2 rounded drop-shadow hover:drop-shadow-sm bg-offline">
                  {{ newAddress.state }}
                </h1>
                <span
                  v-if="isEditing"
                  class="err">{{ errors[0] }}</span>
              </div>
            </ValidationProvider>
          </div>
          <ValidationProvider
            v-slot="{ errors }"
            name="Zipcode"
            rules="required">
            <div class="w-1/2">
              <label
                for="Zipcode"
                class="font-medium">Zipcode</label>
              <input
                v-if="isEditing"
                v-model="newAddress.zipCode"
                name="Zipcode"
                type="text"
                placeholder="10400"
                class="w-full p-2 rounded drop-shadow hover:drop-shadow-sm"
                @change="updateAddress()">
              <h1
                v-else
                class="w-full p-2 rounded drop-shadow hover:drop-shadow-sm bg-offline">
                {{ newAddress.zipCode }}
              </h1>
              <span
                v-if="isEditing"
                class="err">{{ errors[0] }}</span>
            </div>
          </ValidationProvider>
        </div>
      </ValidationObserver>
    </div>
  </section>
</template>

<script>
export default {
  name: 'AddressInfo',
  props: {
    user: {
      type: Object,
      default: null
    },
    isEditing: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      newAddress: {
        address: '',
        city: '',
        state: '',
        zipCode: ''
      }
    }
  },
  mounted () {
    this.reset()
    this.$emit('setAddresslValid', true)
  },
  methods: {
    reset () {
      this.newAddress = this.user.address
    },
    async updateAddress () {
      if (await this.$refs.form.validate()) {
        this.$emit('setAddresslValid', true)
      } else {
        this.$emit('setAddresslValid', false)
      }

      this.$emit('updateAddress', this.newAddress)
    }
  }
}

</script>

<style>

</style>
