<template>
  <ValidationObserver ref="form">
    <div class="flex flex-col gap-4">
      <div class="flex gap-4">
        <div class="w-full">
          <ValidationProvider
            v-slot="{ errors }"
            name="firstName"
            rules="required">
            <label
              for="firstName"
              class="font-medium">First Name</label>
            <input
              v-if="isEditing"
              v-model="newPersonal.firstName"
              name="firstName"
              type="text"
              placeholder="Brooklyn"
              class="w-full p-2 rounded drop-shadow hover:drop-shadow-sm"
              @change="updatePersonal()">
            <h1
              v-else
              class="w-full p-2 rounded drop-shadow hover:drop-shadow-sm bg-offline">
              {{ newPersonal.firstName }}
            </h1>
            <span
              v-if="isEditing"
              class="err">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
        <div class="w-full">
          <ValidationProvider
            v-slot="{ errors }"
            name="lastName"
            rules="required">
            <label
              for="lastName"
              class="font-medium">Last Name</label>
            <input
              v-if="isEditing"
              v-model="newPersonal.lastName"
              name="lastName"
              type="text"
              placeholder="Simmons"
              class="w-full p-2 rounded drop-shadow hover:drop-shadow-sm"
              @change="updatePersonal()">
            <h1
              v-else
              class="w-full p-2 rounded drop-shadow hover:drop-shadow-sm bg-offline">
              {{ newPersonal.lastName }}
            </h1>
            <span
              v-if="isEditing"
              class="err">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
      </div>
      <div>
        <ValidationProvider
          v-slot="{ errors }"
          name="email"
          rules="required|email">
          <label
            for="email"
            class="font-medium">Email</label>
          <input
            v-if="isEditing"
            v-model="newPersonal.email"
            name="email"
            type="text"
            placeholder="Brooklyn_Simmons@mail.com"
            class="w-full p-2 rounded drop-shadow hover:drop-shadow-sm"
            @change="updatePersonal()">
          <h1
            v-else
            class="w-full p-2 rounded drop-shadow hover:drop-shadow-sm bg-offline">
            {{ newPersonal.email }}
          </h1>
          <span
            v-if="isEditing"
            class="err">{{ errors[0] }}</span>
        </ValidationProvider>
      </div>
      <div>
        <ValidationProvider
          v-slot="{ errors }"
          name="tel"
          rules="required|tel">
          <label
            for="tel"
            class="font-medium">Tel.</label>
          <input
            v-if="isEditing"
            v-model="newPersonal.tel"
            name="tel"
            type="tel"
            placeholder="123-456-7890"
            class="w-full p-2 rounded drop-shadow hover:drop-shadow-sm"
            @change="updatePersonal()">
          <h1
            v-else
            class="w-full p-2 rounded drop-shadow hover:drop-shadow-sm bg-offline">
            {{ newPersonal.tel }}
          </h1>
          <span
            v-if="isEditing"
            class="err">{{ errors[0] }}</span>
        </ValidationProvider>
      </div>
    </div>
  </ValidationObserver>
</template>

<script>

export default {
  name: 'AccountInfo',
  props: {
    user: {
      type: Object,
      default: null
    },
    isEditing: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      newPersonal: {
        firstName: '',
        lastName: '',
        email: '',
        tel: ''
      }
    }
  },
  mounted () {
    this.reset()
    this.$emit('setPersonalValid', true)
  },
  methods: {
    reset () {
      this.newPersonal = this.user
    },

    async updatePersonal () {
      if (await this.$refs.form.validate()) {
        this.$emit('setPersonalValid', true)
      } else {
        this.$emit('setPersonalValid', false)
      }

      this.$emit('updatePersonal', this.newPersonal)
    }
  }
}

</script>

<style>
.err {
  color: red;
  font-size: 12px;
}
</style>
