<template>
  <section class="flex justify-center items-center lg:container">
    <div class="w-full h-auto lg:max-w-[768px] lg:max-h-[80vh] flex justify-center items-center">
      <div class="relative w-full h-full flex flex-col m-0 lg:m-8 p-4 bg-white rounded drop-shadow-2xl lg:p-8 overflow-auto">
        <button
          class="relative lg:absolute flex gap-1 w-fit top-1 lg:top-4 left-1 lg:left-4 py-1 lg:py-2 px-2 lg:px-4 text-danger rounded hover:bg-danger hover:text-white duration-200"
          @click="back()">
          <span class="mdi mdi-arrow-left-thick"></span>
          <span class="hidden lg:flex">Back</span>
        </button>
        <div class="flex flex-col items-center">
          <div
            v-if="choice === ''"
            class="flex flex-col gap-2">
            <span class="text-2xl font-semibold">Forgot password ?</span>
            <span class="text-base font-normal">Choose recovery option.</span>
          </div>
          <div
            v-else-if="choice === 'email'"
            class="flex flex-col gap-2">
            <span class="text-2xl font-semibold">Recovery with E-mail</span>
            <span class="text-base font-normal">email</span>
          </div>
          <div
            v-else-if="choice === 'tel'"
            class="flex flex-col gap-2">
            <span class="text-2xl font-semibold">Recovery with Phone number</span>
            <span class="text-base font-normal">tel</span>
          </div>
        </div>
        <div class="w-full h-px my-8 border border-solid border-secondary/50 rounded"></div>
        <transition
          name="fade"
          mode="out-in">
          <div
            v-if="choice === ''"
            class="flex flex-col gap-4 lg:gap-8">
            <button
              class="flex justify-center items-center gap-4 py-4 px-8 border border-login rounded bg-white hover:bg-login text-login hover:text-white drop-shadow hover:drop-shadow-sm duration-200"
              @click="choicePress('email')">
              <span class="mdi mdi-email text-2xl"></span>
              <span>&#124;</span>
              <span>
                Recovery with Email
              </span>
            </button>
            <button
              class="flex justify-center items-center gap-4 py-4 px-8 border border-login rounded bg-white hover:bg-login text-login hover:text-white drop-shadow hover:drop-shadow-sm duration-200"
              @click="choicePress('tel')">
              <span class="mdi mdi-phone text-2xl"></span>
              <span>&#124;</span>
              <span>
                Recovery with Phone
              </span>
            </button>
          </div>
          <ForgotByEmail v-else-if="choice === 'email'" />
          <ForgotByTelophone v-else-if="choice === 'tel'" />
        </transition>
      </div>
    </div>
  </section>
</template>

<script>
import ForgotByEmail from '@/components/account/forgotPassword/email.vue'
import ForgotByTelophone from '@/components/account/forgotPassword/tel.vue'

export default {
  name: 'ForgotPasswordPage',
  components: {
    ForgotByEmail,
    ForgotByTelophone
  },
  layout: 'auth',
  data () {
    return {
      choice: ''
    }
  },
  head () {
    return {
      title: `${this.$store.getters['WebSetting/dba']} | Forgot Password`,
      style: [{ innerHTML: this.$store.getters['WebSetting/css'] }]
    }
  },
  methods: {
    choicePress (value) {
      this.choice = value
    },
    back () {
      if (this.choice !== '') {
        this.choice = ''
      } else {
        this.$router.push('/')
      }
    }
  }
}
</script>
