<template>
  <div class="py-6 bg-[#f7f8fa]">
    <div class="container flex flex-col justify-between gap-4 lg:flex-row lg:gap-16">
      <AccountTab />
      <AccountInfo
        v-if="isLogin"
        :is-editing="isEditing"
        :is-cancel="isCancel"
        :error="error"
        @setUser="setUser"
        @checkValid="checkValid" />
      <div v-if="isLogin">
        <div
          v-if="isEditing == false"
          class="flex justify-end items-center">
          <button
            class="h-fit w-24 py-2 text-base font-medium text-login flex justify-center rounded bg-white border border-solid border-login drop-shadow hover:drop-shadow-sm hover:bg-login hover:text-white duration-200"
            @click="toggleEditing()">
            <span>
              Edit
            </span>
          </button>
        </div>
        <div
          v-else
          class="flex flex-row-reverse lg:flex-col gap-6 text-base font-medium">
          <button
            v-if="valid"
            class="h-fit w-full lg:w-24 py-2 text-white flex justify-center rounded bg-confirm drop-shadow hover:drop-shadow-sm"
            @click="saveData()">
            <span>
              Save
            </span>
          </button>
          <button
            v-else
            class="h-fit w-full lg:w-24 py-2 text-white flex justify-center rounded bg-offline cursor-default">
            <span>
              Save
            </span>
          </button>
          <button
            class="h-fit w-full lg:w-24 py-2 text-danger flex justify-center rounded bg-white border border-solid border-danger drop-shadow hover:drop-shadow-sm hover:bg-danger hover:border-danger hover:text-white duration-200"
            @click="cancel()">
            <span>
              Cancel
            </span>
          </button>
        </div>
      </div>
    </div>
    <transition name="notiFade">
      <div v-if="action">
        <ResponseModal
          :message="message" />
      </div>
    </transition>
  </div>
</template>

<script>
import AccountTab from '@/components/account/accountTab.vue'
import AccountInfo from '@/components/account/accountInfo.vue'
import UserProvider from '@/resources/UserProvider'
import ResponseModal from '@/components/modal/responseModal.vue'

const UserService = new UserProvider()

export default {
  name: 'AccountPage',
  components: { AccountTab, AccountInfo, ResponseModal },
  data () {
    return {
      isEditing: false,
      saving: false,
      isCancel: false,
      user: null,
      valid: false,
      error: '',
      action: false,
      message: ''
    }
  },

  head () {
    return {
      title: `${this.$store.getters['WebSetting/dba']} | Account page`,
      style: [{ innerHTML: this.$store.getters['WebSetting/css'] }],
      link: [
        { rel: 'icon', type: 'image/x-icon', href: this.$store.getters['WebSetting/favIconUrl'] }
      ],
      meta: [
        { property: 'og:image', content: this.$store.getters['WebSetting/bannerImageUrl'] }
      ]
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['User/isLogin']
    },
    isGuestLogin () {
      return this.$store.getters['User/isGuestLogin']
    }
  },
  mounted () {
    if (!this.isLogin || this.isGuestLogin) {
      this.$router.push('/')
    }
  },
  methods: {
    toggleEditing () {
      this.isEditing = !this.isEditing
    },

    async saveData () {
      if (this.user) {
        const { user } = this
        const phone = this.user.tel.replace(/-/g, '')
        user.tel = phone

        try {
          await UserService.updateCustomerInfomation(user)

          const userId = this.$store.getters['User/id']
          try {
            const loginUser = await UserService.getCustomerById(userId)
            this.$store.dispatch('User/setCustomer', loginUser)

            this.toggleEditing()
            this.toggleAction('Save data completed!')
          } catch (err) {
            console.error(err.message)
          }
        } catch (err) {
          this.error = err.message
        }
      } else {
        this.toggleEditing()
      }
    },

    cancel () {
      this.isCancel = true
      this.error = ''
      this.toggleEditing()
      this.toggleAction('Data has not changed.')
    },
    setUser (newUser) {
      this.isCancel = false
      this.user = newUser
    },
    checkValid (valP, valA) {
      if (valP && valA) {
        this.valid = true
      } else {
        this.valid = false
      }
    },
    toggleAction (message) {
      this.message = message
      this.action = true
      setTimeout(() => {
        this.action = false
        this.message = ''
      }, 1500)
    }
  }
}
</script>

<style scoped>

</style>
