<template>
  <header>
    <section class="flex items-center justify-between w-full gap-4 px-8 py-4 bg-white">
      <div class="relative flex items-center justify-start h-full gap-8">
        <NuxtLink
          to="/"
          class="flex items-center justify-start gap-2">
          <img
            loading="lazy"
            :src="logoUrl || '/svg/appBarLogo.svg'"
            class="h-16 py-2" />
          <span class="hidden lg:flex">{{ dba }}</span>
        </nuxtlink>
      </div>
      <a
        v-show="businessPhone"
        :href="`tel:${businessPhone}`"
        target="_blank"
        class="flex items-center justify-center gap-2 lg:hidden">
        <span class="text-xl mdi mdi-phone"></span>
        <span class="py-2 text-sm text-center">{{ formatPhone }}</span>
      </a>
      <div class="flex items-center justify-end gap-4">
        <button
          class="flex items-center justify-center gap-1 px-4 py-1 text-lg text-white border-none rounded-full mdi mdi-cart lg:gap-2 bg-primary lg:text-xl"
          @click="setPage('Cart') ">
          <span class="text-xs font-medium lg:text-sm">
            {{ itemInCart }}
          </span>
        </button>
        <div
          v-if="!isLogin"
          class="flex items-center justify-between gap-4">
          <button
            class="flex justify-center text-sm duration-200 bg-transparent rounded-full item-center lg:py-2 lg:px-4 lg:bg-info lg:hover:bg-primary lg:hover:text-white active:scale-90"
            @click="showLogin()">
            <span class="hidden lg:flex">Login</span>
            <span class="flex text-3xl rounded-full lg:hidden mdi mdi-account-circle-outline"></span>
          </button>
          <button
            class="hidden px-4 py-2 text-sm duration-200 rounded-full lg:flex bg-info hover:bg-primary hover:text-white active:scale-90"
            @click="showCreate()">
            Register
          </button>
        </div>
        <div
          v-else
          class="flex items-center justify-between gap-4">
          <button
            class="flex justify-center text-sm duration-200 rounded-full item-center lg:py-2 lg:px-4 lg:bg-info lg:hover:bg-primary lg:hover:text-white active:scale-90"
            @click="setPage('Account')">
            <span class="hidden lg:flex">{{ isGuestLogin ? 'Logout' : 'Account' }}</span>
            <span
              :class="{
                'text-danger': isGuestLogin,
                'text-primary': isLogin
              }"
              class="flex text-3xl lg:hidden mdi mdi-account-circle-outline"></span>
          </button>
          <button
            v-if="isLogin && !isGuestLogin"
            class="flex justify-center text-sm duration-200 rounded-full item-center lg:py-2 lg:px-4 lg:bg-info lg:hover:bg-primary lg:hover:text-white active:scale-90"
            @click="logout()">
            <span class="hidden lg:flex">Logout</span>
          </button>
        </div>
      </div>
    </section>

    <transition name="fade">
      <LogIn
        v-if="isLoggingIn"
        @showCreate="showCreate()"
        @showGuest="showGuest()"
        @close="close()"
        @toggleAction="toggleAction" />
      <create-acc
        v-if="isCreating"
        @showLogin="showLogin()"
        @showGuest="showGuest()"
        @close="close()"
        @toggleAction="toggleAction" />
      <GuestLogin
        v-if="isGuestIn"
        @showCreate="showCreate()"
        @showLogin="showLogin()"
        @close="close()"
        @toggleAction="toggleAction" />
    </transition>
    <transition name="notiFade">
      <div v-if="action">
        <ResponseModal
          :message="message" />
      </div>
    </transition>
  </header>
</template>

<script>
import LogIn from '@/components/modal/logIn.vue'
import CreateAcc from '@/components/modal/CreateAcc.vue'
import GuestLogin from '@/components/modal/guestLogin.vue'
import ResponseModal from '@/components/modal/responseModal.vue'

export default {
  name: 'NewAppBar',
  components: {
    LogIn,
    CreateAcc,
    GuestLogin,
    ResponseModal
  },
  data () {
    return {
      isLoggingIn: false,
      isCreating: false,
      isGuestIn: false,
      message: '',
      action: false,
      openDrawer: false
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['User/isLogin']
    },
    isGuestLogin () {
      return this.$store.getters['User/isGuestLogin']
    },
    userFullName () {
      return this.$store.getters['User/fullName']
    },
    businessPhone () {
      return this.$store.getters['WebSetting/businessPhone']
    },
    formatPhone () {
      return this.$store.getters['WebSetting/formatPhone']
    },
    dba () {
      return this.$store.getters['WebSetting/dba']
    },
    logoUrl () {
      return this.$store.getters['WebSetting/logoUrl']
    },
    itemInCart () {
      return this.$store.getters['Cart/itemInCart']
    }
  },
  mounted () {
    if (process.browser && !this.reduceMotion) {
      const appBar = window.document.querySelector('#appBar')

      const updateElements = () => {
        const value = window.scrollY
        // const appBarBlur = value * 0.025
        const appBarOpacity = value * 0.005

        // appBar.style.filter = `blur(${appBarBlur}px)`
        appBar.style.opacity = `${1 - appBarOpacity}`

        window.requestAnimationFrame(updateElements)
      }

      window.requestAnimationFrame(updateElements)
    }
  },
  methods: {
    toggleDrawer () {
      this.openDrawer = !this.openDrawer
    },
    showLogin () {
      this.isLoggingIn = true
      this.isCreating = false
      this.isGuestIn = false
    },
    showCreate () {
      this.isLoggingIn = false
      this.isCreating = true
      this.isGuestIn = false
    },
    showGuest () {
      this.isLoggingIn = false
      this.isCreating = false
      this.isGuestIn = true
    },
    close () {
      this.isLoggingIn = false
      this.isCreating = false
      this.isGuestIn = false
    },
    logout () {
      this.$store.dispatch('User/reset')
      this.toggleAction('Logged out.')
      this.$router.push('/')
    },
    toggleAction (message) {
      this.message = message
      this.action = true
      setTimeout(() => {
        this.action = false
        this.message = ''
      }, 1500)
    },
    setPage (val) {
      switch (val) {
        case 'Cart':
          this.$router.push('/order')
          break
        case 'Account':
          if (this.isGuestLogin) {
            this.logout()
            return
          }
          this.$router.push('/account')
          break
        default:
          break
      }
    }
  }
}
</script>

<style scoped>

</style>
