<template>
  <div
    id="openMenu"
    :class="{'-top-8 -translate-y-full': position === 'top',
             '-left-8 -translate-x-full': position === 'left-center',
             '-left-8 top-0 -translate-x-full': position === 'left-top',
             '-left-8 bottom-0 -translate-x-full': position === 'left-bottom',
             '-right-8 translate-x-full': position === 'right-center',
             '-right-8 top-0 translate-x-full': position === 'right-top',
             '-right-8 bottom-0 translate-x-full': position === 'right-bottom',
             '-bottom-8 translate-y-full': position === 'bottom'}"
    class="absolute z-20 flex flex-col w-64 p-4 bg-white shadow-xl cursor-default md:w-96 rounded-xl text-start">
    <div class="flex items-center justify-between py-2 border-b border-b-info">
      <span class="text-xl font-semibold">Categories</span>
      <button
        class="flex items-center justify-center h-8 p-2 duration-200 rounded-full bg-info aspect-1 hover:bg-red-500 active:scale-90"
        @click="closeDrawer()">
        <span class="text-white mdi mdi-close"></span>
      </button>
    </div>
    <button
      v-for="(singleCategory, index) in categoryList"
      :key="index"
      class="relative text-sm duration-200 rounded hover:bg-info hover:text-primary"
      @click="setCurrent(singleCategory.name)">
      <NuxtLink
        :class="{'text-primary font-semibold': current === singleCategory.name}"
        class="flex justify-between px-4 py-2"
        :to="`/#${singleCategory.name.replaceAll(' ', '')}`">
        <span>{{ singleCategory.name }}</span>
        <span>{{ singleCategory.menus.length }}</span>
      </NuxtLink>
      <transition name="fade">
        <client-only>
          <div
            v-if="current === singleCategory.name"
            class="absolute top-0 bottom-0 left-0 w-2 -translate-x-4 rounded-r-lg bg-primary"></div>
        </client-only>
      </transition>
    </button>
  </div>
</template>

<script>
export default {
  name: 'CategorySelector',
  props: {
    position: {
      type: String,
      default: 'top'
    },
    categoryList: {
      type: Array,
      default: null
    },
    current: {
      type: String,
      default: ''
    }
  },
  methods: {
    closeDrawer () {
      this.$emit('closeDrawer')
    },
    setCurrent (name) {
      this.$emit('setCurrent', name)
      this.closeDrawer()
    }
  }
}
</script>

<style>

</style>
