<template>
  <section class="container pb-12">
    <!-- Menu header -->
    <div
      id="menu-category"
      class="flex flex-col-reverse justify-between w-full gap-4 my-4 lg:flex-row">
      <div class="flex items-center justify-start gap-4 lg:justify-center">
        <client-only>
          <button
            v-if="searchMenuList"
            class="w-10 h-10 text-2xl duration-200 bg-white border-2 rounded-full mdi mdi-arrow-left border-info hover:border-red-500 active:bg-red-500 active:text-white active:scale-90"
            @click="clearSearch()"></button>
        </client-only>
        <span class="text-2xl font-semibold">{{ searchMenuList ? `Search result of '${prevSearch}':` : 'Menu' }}</span>
      </div>
      <div class="flex justify-between gap-4 lg:justify-end">
        <span class="flex w-3/4 gap-2 px-4 py-2 duration-200 bg-white border-2 border-transparent rounded-full lg:w-fit hover:border-primary focus-within:border-primary">
          <span class="mdi mdi-magnify"></span>
          <input
            v-model.trim="search"
            type="text"
            placeholder="Search store menu"
            class="w-full text-sm search-text-field placeholder:text-sm"
            @keypress.enter="searchMenu()">
        </span>
        <button
          class="w-10 h-10 duration-200 bg-white border-2 rounded-full mdi mdi-magnify border-info hover:border-primary active:bg-primary active:text-white active:scale-90"
          @click="searchMenu()"></button>
      </div>
    </div>

    <!-- Category selector -->
    <transition name="fade">
      <client-only>
        <div
          v-if="!searchMenuList"
          class="sticky top-0 z-20 flex flex-row w-full gap-4 p-4 mb-8 bg-white border-b rounded-lg shadow-lg border-info">
          <!-- Open category button -->
          <div class="relative flex items-center justify-center">
            <button
              class="relative text-2xl duration-100 mdi mdi-menu active:scale-90"
              @click="openDrawer()">
            </button>
            <transition name="fade">
              <CategorySelector
                v-if="openCategory"
                id="openMenu"
                position="right-top"
                :current="current"
                :category-list="menuByType"
                @closeDrawer="closeDrawer()"
                @setCurrent="setCurrent($event)" />
            </transition>
          </div>

          <!-- Horizontal category selector -->
          <div class="flex flex-row w-full overflow-x-scroll hide-scrollbar">
            <button
              v-for="(singleCat, index) in menuByType"
              :key="index"
              :class="{'text-primary': current === singleCat.name}"
              class="w-full h-full text-center duration-200 border-r hover:text-primary border-info last:border-none"
              @click="setCurrent($event.target.outerText)">
              <NuxtLink
                :to="`/#${singleCat.name.replace(/\s/g, '')}`"
                class="relative flex items-center justify-center h-full px-2 lg:px-4 whitespace-nowrap">
                {{ singleCat.name }}
                <transition name="fade">
                  <div
                    v-if="current === singleCat.name"
                    class="absolute bottom-0 left-0 right-0 h-1 rounded-t-lg bg-primary"></div>
                </transition>
              </NuxtLink>
            </button>
          </div>
        </div>
      </client-only>
    </transition>

    <!-- List of menu -->
    <client-only>
      <transition name="fade">
        <!-- Loading -->
        <div
          v-if="loading"
          class="grid grid-cols-1 gap-2 lg:grid-cols-2 lg:gap-4">
          <div
            v-for="n in 4"
            :key="n"
            class="relative">
            <div
              class="relative flex items-center justify-center w-full text-xl bg-white border border-opacity-25 rounded h-36">
              <span>Loading...</span>
            </div>
          </div>
        </div>

        <!-- All menu list -->
        <div
          v-else-if="!searchMenuList"
          class="flex flex-col gap-8 lg:gap-16">
          <div
            v-for="(menusInCategory, index) in menuByType"
            :id="menusInCategory.name.replace(/\s/g, '')"
            :key="index">
            <div class="flex flex-col mb-4">
              <span class="text-xl font-semibold">{{ menusInCategory.name }}</span>
              <span class="text-sm opacity-25"> Description </span>
            </div>
            <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:gap-4">
              <menuCard
                v-for="(menu, menuIndex) in menusInCategory.menus"
                :key="menuIndex"
                :menu="menu"
                :name="menu.name"
                :menu-id="menu.id"
                :description="menu.description"
                :price="formatPrice(menu.price)"
                :cover-image="menu.coverImage || menu.imageUrls[0]"
                :is-available="menu.isAvailable" />
            </div>
          </div>
        </div>

        <!-- List of search menu -->
        <div
          v-else-if="searchMenuList.length !== 0"
          class="grid grid-cols-1 gap-2 lg:grid-cols-2 lg:gap-4">
          <menuCard
            v-for="(menu, menuIndex) in searchMenuList"
            :key="menuIndex"
            :menu="menu"
            :name="menu.name"
            :menu-id="menu.id"
            :description="menu.description"
            :price="formatPrice(menu.price)"
            :cover-image="menu.coverImage || menu.imageUrls[0]"
            :is-available="menu.isAvailable" />
        </div>

        <!-- No menu to show / Search not found -->
        <button
          v-else
          class="flex flex-col items-center justify-center w-full duration-200 bg-white border border-info h-36 rounded-xl hover:text-primary"
          @click="clearSearch()">
          <span class="text-lg font-semibold">
            Menu included '{{ prevSearch }}' not found.
          </span>
          <span class="text-sm">
            Press here to go back.
          </span>
        </button>
      </transition>
    </client-only>
  </section>
</template>

<script>
import MenuCard from '@/components/main/menuCard.vue'
import CategorySelector from '@/components/main/categorySelector.vue'
import MenuProvider from '@/resources/MenuProvider'

const MenuService = new MenuProvider()

export default {
  name: 'MenuList',
  components: {
    MenuCard,
    CategorySelector
  },
  props: {
    menuByType: {
      type: Array,
      default: null
    }
  },
  data () {
    return {
      current: '',
      openCategory: false,
      search: '',
      prevSearch: '',
      searchMenuList: null,
      loading: false
    }
  },

  methods: {
    setCurrent (event) {
      this.current = event
    },
    openDrawer () {
      this.$router.push('/#openMenu')
      this.openCategory = !this.openCategory
    },
    formatPrice (price) {
      const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD'
      })
      return formatter.format(price)
    },
    closeDrawer () {
      this.openCategory = false
    },
    async searchMenu () {
      if (this.search === '') {
        this.clearSearch()
        return
      }
      this.loading = true
      try {
        const newMenu = await MenuService.getMenuList({
          category: null,
          search: this.search || null,
          sortBy: null,
          sortOrder: null,
          limit: 999,
          page: 1,
          restaurantId: this.$store.getters['WebSetting/restaurantId']
        })
        this.prevSearch = this.search
        this.search = ''
        this.searchMenuList = newMenu.results
      } catch (err) {
        console.error(err)
      } finally {
        this.loading = false
      }
    },
    clearSearch () {
      this.searchMenuList = null
    }
  }
}
</script>
