<template>
  <div class="relative">
    <div
      class="relative flex items-center justify-between w-full border border-opacity-25 rounded h-36">
      <button
        :disabled="!isAvailable"
        class="flex flex-col w-full h-full p-4 duration-200 bg-white text-start hover:bg-info disabled:hover:bg-white disabled:cursor-not-allowed"
        @click="toggleShow()">
        <span class="text-base font-bold lg:text-xl">{{ name }}</span>
        <span class="overflow-y-hidden text-xs font-thin lg:text-sm opacity-20">{{ description }}</span>
        <span class="text-xs lg:text-sm">{{ price }}</span>
      </button>
      <img
        :src="coverImage"
        loading="lazy"
        class="object-cover h-full text-white uppercase aspect-1"
        :alt="`${name} cover image`">
      <button
        :disabled="!isAvailable"
        class="absolute flex items-center justify-center px-4 py-2 duration-200 bg-white rounded-full shadow hover:shadow-none hover:bg-primary right-2 bottom-2 hover:text-white disabled:h-1/4 disabled:aspect-4 disabled:rounded-none disabled:right-0 disabled:bottom-0 disabled:bg-opacity-50 disabled:hover:bg-white/50 disabled:backdrop-blur disabled:shadow-none"
        @click="addToCart()">
        <span
          :class="{'text-danger': !isAvailable}"
          class="text-xs font-bold">
          {{ isAvailable ? 'Add' : 'Unavailable' }}
        </span>
      </button>
    </div>

    <client-only>
      <transition name="fade">
        <addToCartPopUp
          v-if="show"
          :name="name"
          :native-name="nativeName"
          :menu-id="menuId"
          :description="description"
          :price="price"
          :cover-image="coverImage"
          :is-available="isAvailable"
          @addToCart="addToCart($event)"
          @hide="toggleShow()" />
      </transition>
      <transition name="notiFade">
        <div v-if="action">
          <ResponseModal
            message="Item added to cart." />
        </div>
      </transition>
    </client-only>
  </div>
</template>

<script>
import addToCartPopUp from '@/components/modal/addToCartPopUp.vue'
import ResponseModal from '@/components/modal/responseModal.vue'
import MenuProvider from '~/resources/MenuProvider'

const MenuService = new MenuProvider()

export default {
  name: 'MenuCard',
  components: {
    addToCartPopUp,
    ResponseModal
  },
  props: {
    menu: {
      type: Object,
      default: null
    },
    name: {
      type: String,
      default: ''
    },
    nativeName: {
      type: String,
      default: ''
    },
    menuId: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    price: {
      type: String,
      default: '$0.00'
    },
    coverImage: {
      type: String,
      default: '/images/dummy.jpg'
    },
    isAvailable: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      show: false,
      action: false
    }
  },
  methods: {
    toggleShow () {
      this.show = !this.show
    },
    async addToCart (event) {
      const restaurantId = this.$store.getters['WebSetting/restaurantId']
      const response = await MenuService.getMenuByID(this.menuId, restaurantId)
      if (response.modifiers.some((modifier) => modifier.type === 'REQUIRED') && !this.show) {
        this.toggleShow()
      } else {
        let newMod = []
        if (event?.mod) {
          newMod = event.mod.sort((a, b) => (b.modPrice - a.modPrice))
        }
        this.$store.dispatch('Cart/addToCart', {
          selected: response,
          newMod,
          newNote: event?.note || '',
          amount: event?.amount || 1
        })

        if (this.show) {
          this.toggleShow()
        }
        this.action = true
        setTimeout(() => {
          this.action = false
        }, 1500)
      }
    }
  }
}
</script>
