<template>
  <section class="px-4 lg:px-24 overflow-hidden">
    <div class="flex flex-col items-center">
      <div class="flex flex-col justify-center items-center px-0 lg:px-3">
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-2 lg:gap-4 py-8">
          <menuCard
            v-for="(menu, index) in item"
            ref=""
            :key="index"
            :item="menu"
            @toggleShow="toggleShow" />
        </div>
        <div class="w-full flex justify-end gap-3 place-items-center px-8 lg:px-0 mb-8">
          <button
            class="w-6 lg:w-10 h-6 lg:h-10 border border-primary rounded grid place-items-center hover:bg-primary duration-200"
            @click="prevPage()">
            <img
              loading="lazy"
              src="/svg/arrow-L.svg">
          </button>
          <div
            v-for="(callPage, index) in maxPage"
            :key="index">
            <button
              :class="{
                'current': callPage === page
              }"
              class="w-6 lg:w-10 h-6 lg:h-10 border border-primary rounded grid place-items-center bg-none hover:bg-primary hover:text-white duration-200"
              @click="toPage(index+1)">
              <h1>{{ ( index+1 ) }}</h1>
            </button>
          </div>
          <button
            class="w-6 lg:w-10 h-6 lg:h-10 border border-primary rounded grid place-items-center hover:bg-primary duration-200"
            @click="nextPage()">
            <img
              loading="lazy"
              src="/svg/arrow-R.svg">
          </button>
        </div>
      </div>
    </div>
    <transition name="fade">
      <div
        v-if="show"
        class="absolute">
        <AddToCartPopUp
          :item="selected"
          @addToCart="addToCart"
          @hide="hide()" />
      </div>
    </transition>
  </section>
</template>

<script>
import menuCard from '@/components/menuCard.vue'
import AddToCartPopUp from '@/components/modal/addToCartPopUp.vue'
import MenuProvider from '@/resources/MenuProvider'

const MenuService = new MenuProvider()

export default {
  name: 'AllMenuList',
  components: { menuCard, AddToCartPopUp },
  props: {
    page: {
      type: Number,
      default: 1
    },
    item: {
      type: Array,
      default: null
    },
    maxPage: {
      type: Number,
      default: 1
    }
  },
  data () {
    return {
      show: false,
      selected: {
        name: '',
        description: '',
        imageUrls: [],
        modifier: [],
        activeMod: [],
        note: ''
      }
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['User/isLogin']
    }
  },
  methods: {
    async toggleShow (selected) {
      const restaurantId = this.$store.getters['WebSetting/restaurantId']
      this.selected = await MenuService.getMenuByID(selected.id, restaurantId)
      this.show = true
    },
    hide () {
      this.show = false
    },
    addToCart (mod, note) {
      const newMod = mod.sort((a, b) => (b.modPrice - a.modPrice))
      const newNote = note

      this.$store.dispatch('Cart/addToCart', {
        selected: this.selected,
        newMod,
        newNote
      })

      this.hide()
    },
    prevPage () {
      this.$emit('prevPage')
    },
    nextPage () {
      this.$emit('nextPage')
    },
    toPage (page) {
      this.$emit('toPage', page)
    }
  }
}

</script>

<style scoped>
.current {
  background: var(--color-primary);
  color: white;
}
</style>
