<template>
  <header>
    <div
      class="w-full h-auto bg-white font-normal text-[12px] text-center flex items-center lg:text-base lg:h-20 drop-shadow-sm">
      <div class="container flex flex-col items-center justify-between h-full lg:flex-row">
        <div class="flex items-center justify-between w-full lg:w-fit">
          <NuxtLink
            to="/"
            class="flex items-center justify-center">
            <div class="flex items-center gap-2">
              <img
                loading="lazy"
                :src="logoUrl || '/svg/appBarLogo.svg'"
                class="h-16 py-2" />
              <span class="hidden lg:flex">{{ dba }}</span>
            </div>
          </NuxtLink>
          <a
            v-show="businessPhone"
            :href="`tel:${businessPhone}`"
            target="_blank"
            class="flex items-center justify-center gap-2 lg:hidden">
            <span class="text-xl mdi mdi-phone"></span>
            <span class="py-2 text-sm text-center">{{ formatPhone }}</span>
          </a>
          <div class="flex items-center justify-center gap-3 lg:hidden lg:gap-6">
            <client-only>
              <div>
                <button
                  v-if="isLogin && !isGuestLogin"
                  class="flex items-center justify-center"
                  @click="setPage('Account')">
                  <img
                    loading="lazy"
                    src="/svg/accountIcon.svg"
                    class="w-12 h-12" />
                </button>
                <button
                  v-else-if="isGuestLogin">
                  <button
                    class="text-xs"
                    @click="logout()">
                    Logout
                  </button>
                </button>
                <button
                  v-else
                  class="flex items-center justify-center"
                  @click="showLogin()">
                  <img
                    loading="lazy"
                    src="/svg/accountIcon.svg"
                    class="w-12 h-12" />
                </button>
              </div>
            </client-only>
            <client-only>
              <button
                class="w-fit h-fit flex justify-center items-center gap-0.5 lg:gap-2 bg-primary p-2.5 border-none rounded-full"
                @click="setPage('Cart') ">
                <img
                  loading="lazy"
                  src="/svg/cart.svg" />
                <span
                  v-if="itemInCart > 0"
                  class="top-0 right-0 w-6 text-xl font-medium text-white">
                  {{ itemInCart }}
                </span>
              </button>
            </client-only>
          </div>
        </div>
        <div class="items-center justify-center hidden h-full mb-2 lg:mb-0 lg:flex">
          <div class="flex items-center justify-center h-full gap-2 mr-32 lg:gap-8">
            <div class="relative flex flex-col items-center justify-center h-full w-fit">
              <button
                class="h-full rounded"
                @click="setPage('Recommended')">
                <NuxtLink to="/#recommended">
                  Recommended
                </NuxtLink>
              </button>
              <div
                v-if="currentPage == 'Recommended'"
                class="absolute bottom-0 w-full h-1 border border-solid rounded bg-primary border-primary"></div>
            </div>
            <div class="relative flex flex-col items-center justify-center h-full w-fit">
              <button
                class="h-full"
                @click="setPage('Categories')">
                <NuxtLink to="/#menu-category">
                  Categories
                </NuxtLink>
              </button>
              <div
                v-if="currentPage == 'Categories'"
                class="absolute bottom-0 w-full h-1 border border-solid rounded bg-primary border-primary"></div>
            </div>
            <div class="relative flex flex-col items-center justify-center h-full w-fit">
              <button
                class="h-full"
                @click="setPage('Contact')">
                <NuxtLink to="/#contact">
                  Contact
                </NuxtLink>
              </button>
              <div
                v-if="currentPage == 'Contact'"
                class="absolute bottom-0 w-full h-1 border border-solid rounded bg-primary border-primary"></div>
            </div>
          </div>
          <div class="flex items-center justify-center gap-3 w-fit h-fit lg:gap-6">
            <client-only>
              <div>
                <div v-if="isLogin && !isGuestLogin">
                  <button
                    class="flex items-center justify-center"
                    @click="setPage('Account')">
                    <img
                      loading="lazy"
                      src="/svg/accountIcon.svg"
                      class="w-12 h-12" />
                  </button>
                </div>
                <div
                  v-else-if="isGuestLogin"
                  class="text-left">
                  <p>Welcome Guest: {{ userFullName }}</p>
                  <button
                    class="text-xs"
                    @click="logout()">
                    Logout
                  </button>
                </div>
                <div v-else>
                  <button
                    class="flex items-center justify-center"
                    @click="showLogin()">
                    <img
                      loading="lazy"
                      src="/svg/accountIcon.svg"
                      class="w-12 h-12" />
                  </button>
                </div>
              </div>
              <button
                class="w-fit h-fit flex justify-center items-center gap-0.5 lg:gap-2 bg-primary p-2.5 border-none rounded-full"
                @click="setPage('Cart') ">
                <img
                  loading="lazy"
                  src="/svg/cart.svg" />
                <span
                  v-if="itemInCart > 0"
                  class="top-0 right-0 w-6 text-xl font-medium text-white">
                  {{ itemInCart }}
                </span>
              </button>
            </client-only>
          </div>
        </div>
      </div>
    </div>
    <transition name="fade">
      <LogIn
        v-if="isLoggingIn"
        @showCreate="showCreate()"
        @showGuest="showGuest()"
        @close="close()"
        @toggleAction="toggleAction" />
      <create-acc
        v-if="isCreating"
        @showLogin="showLogin()"
        @showGuest="showGuest()"
        @close="close()"
        @toggleAction="toggleAction" />
      <GuestLogin
        v-if="isGuestIn"
        @showCreate="showCreate()"
        @showLogin="showLogin()"
        @close="close()"
        @toggleAction="toggleAction" />
    </transition>
    <transition name="notiFade">
      <div v-if="action">
        <ResponseModal
          :message="message" />
      </div>
    </transition>
  </header>
</template>

<script>
import LogIn from '@/components/modal/logIn.vue'
import CreateAcc from '@/components/modal/CreateAcc.vue'
import GuestLogin from '@/components/modal/guestLogin.vue'
import ResponseModal from '@/components/modal/responseModal.vue'

export default {
  name: 'AppBar',
  components: {
    LogIn,
    CreateAcc,
    GuestLogin,
    ResponseModal
  },
  data () {
    return {
      isLoggingIn: false,
      isCreating: false,
      isGuestIn: false,
      currentPage: 'Recommended',
      phone: '',
      message: '',
      action: false
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['User/isLogin']
    },
    isGuestLogin () {
      return this.$store.getters['User/isGuestLogin']
    },
    userFullName () {
      return this.$store.getters['User/fullName']
    },
    businessPhone () {
      return this.$store.getters['WebSetting/businessPhone']
    },
    formatPhone () {
      return this.$store.getters['WebSetting/formatPhone']
    },
    dba () {
      return this.$store.getters['WebSetting/dba']
    },
    logoUrl () {
      return this.$store.getters['WebSetting/logoUrl']
    },
    itemInCart () {
      return this.$store.getters['Cart/itemInCart']
    }
  },
  methods: {
    showLogin () {
      this.isLoggingIn = true
      this.isCreating = false
      this.isGuestIn = false
    },
    showCreate () {
      this.isLoggingIn = false
      this.isCreating = true
      this.isGuestIn = false
    },
    showGuest () {
      this.isLoggingIn = false
      this.isCreating = false
      this.isGuestIn = true
    },
    close () {
      this.isLoggingIn = false
      this.isCreating = false
      this.isGuestIn = false
    },
    setPage (val) {
      this.currentPage = val
      switch (val) {
        case 'Cart':
          this.$router.push('/order')
          break
        case 'Account':
          this.$router.push('/account')
          break
        default:
          break
      }
    },
    logout () {
      this.$store.dispatch('User/reset')
      this.toggleAction('Logged out.')
      this.$router.push('/')
    },
    toggleAction (message) {
      this.message = message
      this.action = true
      setTimeout(() => {
        this.action = false
        this.message = ''
      }, 1500)
    }
  }
}
</script>

<style scoped>

</style>
