<template>
  <section class="relative w-full pt-0 pb-8 md:pt-6 md:pb-12 md:container">
    <div class="relative mb-16">
      <img
        id="banner"
        loading="lazy"
        :src="bannerImageUrl || '/images/banner.jpg'"
        class="z-0 object-cover object-center w-full h-[300px] rounded-none md:rounded-xl" />
      <div class="absolute bottom-0 p-2 duration-200 translate-y-1/2 bg-white border-2 border-transparent rounded-full shadow-lg border-opacity-20 hover:scale-95 active:scale-90 left-8 md:left-16 hover:shadow-none hover:border-info">
        <img
          loading="lazy"
          :src="logoUrl || '/svg/appBarlogo.svg'"
          alt="logo"
          class="w-20 h-20">
      </div>
    </div>
    <div class="flex flex-col gap-2 px-3 md:px-0">
      <span class="text-3xl font-black"> {{ dba }} </span>
      <span class="text-xs font-thin opacity-50 lg:text-sm">
        {{ address }}, {{ city }}, {{ state }} {{ zipCode }}
      </span>
    </div>
  </section>
</template>

<script>
export default {
  name: 'BannerTop',
  computed: {
    bannerImageUrl () {
      return this.$store.getters['WebSetting/bannerImageUrl']
    },
    logoUrl () {
      return this.$store.getters['WebSetting/logoUrl']
    },
    dba () {
      return this.$store.getters['WebSetting/dba']
    },
    address () {
      return this.$store.getters['WebSetting/address']
    },
    city () {
      return this.$store.getters['WebSetting/city']
    },
    state () {
      return this.$store.getters['WebSetting/state']
    },
    zipCode () {
      return this.$store.getters['WebSetting/zipCode']
    }
  }
}
</script>

<style scoped>

</style>
