<template>
  <section class="container">
    <div class="flex items-center px-0 mb-4 lg:px-3">
      <div class="w-1/12">
        <button
          class="flex items-center justify-center w-6 h-6 border border-black border-solid rounded-full lg:w-12 lg:h-12"
          @click="showPrev()">
          <img
            loading="lazy"
            src="/svg/arrow-L.svg"
            class="w-1/2 h-1/2">
        </button>
      </div>

      <div class="w-10/12">
        <div class="flex items-center justify-between w-full px-2 mb-6">
          <h2 class="font-semibold text-normal lg:text-2xl">
            {{ item.name }}
          </h2>
          <div class="text-xs font-normal lg:text-normal hover:text-hover">
            <NuxtLink to="/all-product">
              View All
            </NuxtLink>
          </div>
        </div>

        <div class="overflow-hidden">
          <VueSlickCarousel
            v-bind="settings"
            ref="carousel">
            <div
              v-for="(menu, index) in item.menus"
              :key="index"
              class="px-2">
              <MenuCard
                :item="menu"
                @toggleShow="toggleShow" />
            </div>
          </VueSlickCarousel>
        </div>
      </div>

      <div class="flex justify-end w-1/12">
        <button
          class="flex items-center justify-center w-6 h-6 border border-black border-solid rounded-full lg:w-12 lg:h-12"
          @click="showNext()">
          <img
            loading="lazy"
            src="/svg/arrow-R.svg"
            class="w-1/2 h-1/2">
        </button>
      </div>
    </div>
    <div class="w-full h-px my-6 border border-solid border-offline"></div>
  </section>
</template>

<script>
import MenuCard from '@/components/menuCard.vue'

export default {
  name: 'CardCarousel',
  components: {
    MenuCard
  },
  props: {
    item: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      settings: {
        arrows: false,
        dots: false,
        infinite: true,
        swipeToSlide: true,
        lazyLoad: 'progressive',
        slidesToShow: 3,
        slidesToScroll: 3,
        responsive: [
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      }
    }
  },
  methods: {
    toggleShow (selected) {
      this.$emit('toggleShow', selected.id)
    },
    showPrev () {
      this.$refs.carousel.prev()
    },
    showNext () {
      this.$refs.carousel.next()
    }
  }
}

</script>

<style lang="postcss" scoped>
div :deep(.slick-dots) {
  position: static;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}
div :deep(.slick-list) {
  height: full;
}
div :deep(.slick-dots li),
div :deep(.slick-dots li button),
div :deep(.slick-dots li button::before) {
  width: 32px;
  height: 12px;
  margin: 0;
  border-radius: 99px;
}

div :deep(.slick-dots li button::before) {
  background-color: black;
}
</style>
