<template>
  <footer
    id="contact">
    <div class="relative w-full bg-white font-normal flex flex-col pb-24 md:pb-12 lg:pb-4">
      <div class="h-fit flex flex-col lg:flex-row justify-start items-center gap-4 lg:gap-16 px-6 lg:px-14 py-4 lg:py-8 pb-6 lg:pl-28 mb-16 sm:mb-8 md:mb-4">
        <div class="w-full lg:w-fit flex flex-col md:flex-row gap-8 lg:gap-16 justify-center items-center self-start">
          <img
            loading="lazy"
            :src="logoUrl || '/svg/bottomBarLogo.svg'"
            class="h-16 lg:h-24">
          <div class="lg:self-start">
            <ul class="flex flex-col gap-2.5 text-sm lg:text-base">
              <li class="font-semibold">
                Contact
              </li>
              <li class="font-light">
                {{ dba }} <br>
                {{ address }}, {{ city }}, {{ state }} {{ zipCode }}
              </li>

              <li class="flex flex-col justify-start items-start gap-3 lg:gap-6">
                <a
                  v-show="businessPhone"
                  :href="`tel:${businessPhone}`"
                  target="_blank"
                  class="flex justify-center items-center gap-2">
                  <img
                    loading="lazy"
                    src="/svg/bottomBarPhone.svg">
                  <span class="py-2 text-sm text-center flex">{{ formatPhone }}</span>
                </a>

              <!-- <a
                v-show="whatAppsUrl"
                :href="`${whatAppsUrl}`"
                target="_blank">
                <img loading="lazy" src="/svg/bottomBarCall.svg">
              </a>

              <a
                v-show="facebookUrl"
                :href="`${facebookUrl}`"
                target="_blank"
                class="flex justify-center items-center gap-2">
                <img loading="lazy" src="/svg/bottomBarFB.svg">
                <span class="py-2 text-sm text-center hidden lg:flex">{{ formatFacebookUrl }}</span>
              </a> -->
              </li>
            </ul>
          </div>
        </div>
        <div class="h-full grid grid-cols-1 gap-1 lg:self-start">
          <span class="font-semibold">Hours:</span>
          <span
            v-for="(act, index) in hours"
            :key="index"
            class="font-light text-sm lg:text-base grid grid-cols-2 gap-1">
            <span>{{ act.label }}</span>
            <div
              v-if="act.period.length !== 0 && !act.isClosed"
              class="flex flex-col gap-1 text-sm lg:text-base">
              <span
                v-for="(per, periodIndex) in act.period"
                :key="periodIndex"
                class="text-xs">
                {{ $dayjs(per.opensAt, 'HH:mm').format('hh:mm A') }} - {{ $dayjs(per.closesAt, 'HH:mm').format('hh:mm A') }}
              </span>
            </div>
            <span v-else>CLOSED</span>
            <div class="w-full h-px border border-solid border-offline col-span-2"></div>
          </span>
        </div>
      </div>
      <div class="absolute bottom-0 w-full px-2.5 lg:px-24 py-2.5 flex justify-center items-center bg-primary text-white lg:flex-row text-[10px] lg:text-[14px]">
        <span>Copyright © {{ year }} TThai.co All rights reserved.</span>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'FooterBar',
  data () {
    return {
      year: new Date().getFullYear(),
      phone: ''
    }
  },
  computed: {
    facebookUrl () {
      return this.$store.getters['WebSetting/facebookUrl']
    },
    whatAppsUrl () {
      return this.$store.getters['WebSetting/whatAppsUrl']
    },
    logoUrl () {
      return this.$store.getters['WebSetting/logoUrl']
    },
    address () {
      return this.$store.getters['WebSetting/address']
    },
    city () {
      return this.$store.getters['WebSetting/city']
    },
    state () {
      return this.$store.getters['WebSetting/state']
    },
    zipCode () {
      return this.$store.getters['WebSetting/zipCode']
    },
    dba () {
      return this.$store.getters['WebSetting/dba']
    },
    businessPhone () {
      return this.$store.getters['WebSetting/businessPhone']
    },
    formatPhone () {
      return this.$store.getters['WebSetting/formatPhone']
    },
    formatFacebookUrl () {
      return this.$store.getters['WebSetting/formatFacebookUrl']
    },
    hours () {
      return this.$store.getters['WebSetting/hours']
    }
  }
}
</script>

<style scoped>

</style>
