<template>
  <section class="container flex justify-center modal-overlay">
    <div class="flex items-center justify-center w-full h-full">
      <div class="flex flex-col items-center justify-center w-16 h-16 p-8 bg-white rounded lg:w-32 lg:h-32">
        <span>
          <img
            loading="lazy"
            :src="loadingImage"
            class="w-full animate-spin">
        </span>
        <span class="text-black">{{ message }}</span>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'LoadingModal',
  prop: {
    message: {
      type: String,
      default: 'Processing...'
    }
  },
  data () {
    return {
      loadingImage: 'https://img.icons8.com/material-sharp/96/null/spinner-frame-6.png'
    }
  }
}
</script>

<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000080;
  z-index: 10;
  max-width: 100vw;
  max-height: 100vh;
}
</style>
