<template>
  <section class="container flex flex-col justify-center gap-x-4 lg:flex-row pt-2 pb-9">
    <!-- <div class="w-full lg:w-1/2">
      <iframe
        width="100%"
        height="400"
        :src="mapLink"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div> -->
    <div class="w-full lg:w-1/2 mt-2 lg:m-0">
      <p class="font-semibold text-2xl mb-4">
        Contacts
      </p>
      <p class="font-normal text-base mb-6">
        {{ legalBusinessName }} <br>
        {{ address }} {{ city }} {{ state }} {{ zipCode }}
      </p>
      <ul>
        <li
          v-for="(contact, index) in contactInfo"
          :key="`contact-${index}`"
          class="mb-6">
          <a
            :href="contact.href"
            target="_blank"
            :class="{ 'cursor-default pointer-events-none' : contact.href === '#' }"
            class="flex gap-x-2 text-sm lg:text-base lg:gap-x-4">
            <img
              loading="lazy"
              :src="contact.img">
            <p>{{ contact.detail }}</p>
          </a>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  name: 'MapMain',
  data () {
    return {
      lat: '13.756693527555308',
      lon: '100.53368621105054'
    }
  },
  computed: {
    contactInfo () {
      return [
        {
          img: '/svg/bottomBarPhone.svg',
          detail: `Tel. : ${this.$store.getters['WebSetting/businessPhone'] || '-'}`,
          href: this.$store.getters['WebSetting/businessPhone'] ? `tel:${this.$store.getters['WebSetting/businessPhone']}` : '#'
        },
        // {
        //   img: '/svg/bottomBarCall.svg',
        //   detail: `Whatapp : ${this.$store.getters['WebSetting/whatAppsUrl'] || '-'}`,
        //   href: this.$store.getters['WebSetting/whatAppsUrl'] ? this.$store.getters['WebSetting/whatAppsUrl'] : '#'
        // },
        {
          img: '/svg/bottomBarFB.svg',
          detail: `Facebook : ${this.$store.getters['WebSetting/facebookUrl'] || '-'}`,
          href: this.$store.getters['WebSetting/facebookUrl'] ? this.$store.getters['WebSetting/facebookUrl'] : '#'
        }
      ]
    },
    address () {
      return this.$store.getters['WebSetting/address']
    },
    city () {
      return this.$store.getters['WebSetting/city']
    },
    state () {
      return this.$store.getters['WebSetting/state']
    },
    zipCode () {
      return this.$store.getters['WebSetting/zipCode']
    },
    legalBusinessName () {
      return this.$store.getters['WebSetting/legalBusinessName']
    },
    mapLink () {
      return `//maps.google.com/maps?q=${this.lat},${this.lon}&z=15&output=embed`
    }
  }
}
</script>

<style sccoped>

</style>
