<template>
  <div class="mx-auto w-full bg-white border border-solid border-[#333333] rounded px-2 py-4">
    <picture class="block w-full mb-4 aspect-w-6 aspect-h-3">
      <img
        loading="lazy"
        :src="coverImage ? coverImage : ''"
        :alt="item.name"
        width="100%"
        height="auto"
        class="object-cover object-center rounded"
        @error="imgError($event)">
    </picture>

    <p class="w-full h-6 mb-2 overflow-hidden text-xs font-medium leading-none lg:text-base text-ellipsis line-2-clamp">
      {{ item.name }}
    </p>
    <p class="mb-10 text-xs font-medium w-fit lg:text-base">
      {{ price }}
    </p>

    <button
      v-if="item.isAvailable"
      class="w-full text-[12px] text-center text-primary border border-solid border-primary rounded p-1 lg:text-base lg:p-2 hover:bg-primary hover:border-primary hover:text-white duration-200"
      @click="toggleShow()">
      <span>Add to Order</span>
    </button>
    <button
      v-else
      disabled
      class="w-full text-[12px] text-center text-white border border-solid border-info rounded p-1 bg-info lg:text-base lg:p-2">
      <span>Unavailable</span>
    </button>
  </div>
</template>

<script>
export default {
  name: 'MenuCard',
  props: {
    item: {
      type: Object,
      default: null
    }
  },
  computed: {
    price () {
      return this.formatPrice(this.item.price)
    },
    coverImage () {
      return this.item.coverImage || this.item.imageUrls[0]
    }
  },
  methods: {
    toggleShow () {
      this.$emit('toggleShow', this.item)
    },
    imgError (event) {
      const eventTatget = event.target
      eventTatget.src = '/images/dummy.jpg'
    },
    formatPrice (price) {
      const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD'
      })
      return formatter.format(price)
    }
  }
}
</script>

<style scoped>

</style>
