<template>
  <section>
    <div class="w-full flex flex-col mt-4 my-1 lg:my-0 lg:mt-12">
      <div class="grid grid-cols-5 gap-px text-xs lg:text-base overflow-auto">
        <span>Date</span>
        <span>Order</span>
        <span class="text-right lg:text-left">Type</span>
        <span class="text-right lg:text-left">Total</span>
        <span class="text-right lg:text-left">Status</span>
      </div>
      <div class="w-full h-px border border-solid border-secondary/50 rounded my-4"></div>
      <div class="flex flex-col gap-2.5 lg:gap-4">
        <div
          v-for="(order, index) in history"
          :key="index"
          class="grid grid-cols-5 gap-px text-xs lg:text-base overflow-auto">
          <span>{{ order.date }}</span>
          <span class="overflow-hidden">{{ order.order }}</span>
          <span class="text-right lg:text-left">{{ order.type }}</span>
          <span class="text-right lg:text-left">$ {{ order.total }}</span>
          <span class="text-right lg:text-left">{{ order.status }}</span>
        </div>
      </div>
      <div class="w-full h-px border border-solid border-secondary/50 rounded my-4"></div>
    </div>
    <div class="flex justify-between lg:justify-end">
      <div class="w-full lg:w-auto flex gap-4 justify-between items-center">
        <button
          class="w-10 h-10 p-1 bg-[#F0F0F0] rounded-full flex justify-center items-center
          hover:bg-primary hover:stroke-white-white duration-200"
          @click="nextPage(-1)">
          <img
            loading="lazy"
            src="/svg/arrow-L.svg"
            alt="">
        </button>
        <span class="h-8 lg:h-10 p-1 bg-[#F0F0F0] rounded-full flex justify-center items-center">
          <button
            v-for="(page, index) in maxPage"
            :key="index"
            :class="{
              'bg-primary text-white': currentPage === page
            }"
            class="w-8 h-8 lg:w-10 lg:h-10 rounded-full flex justify-center items-center font-medium text-sm lg:text-base
            hover:bg-primary hover:text-white duration-200"
            @click="toPage(page)">
            {{ page }}
          </button>
        </span>
        <button
          class="w-10 h-10 p-1 bg-[#F0F0F0] rounded-full flex justify-center items-center
          hover:bg-primary hover:stroke-white-white duration-200"
          @click="nextPage(1)">
          <img
            loading="lazy"
            src="/svg/arrow-R.svg"
            alt="">
        </button>
      </div>
    </div>
    <loadingModal
      v-if="isLoading">
    </loadingmodal>
  </section>
</template>

<script>
import loadingModal from '@/components/loading.vue'
import OrderProvider from '@/resources/OrderProvider'

const OrderService = new OrderProvider()

export default {
  name: 'OrderTable',
  components: {
    loadingModal
  },
  data () {
    return {
      pages: [1],
      currentPage: 1,
      maxPage: 1,
      history: [{
        date: '',
        order: '',
        type: '',
        total: '',
        status: ''
      }],
      isLoading: false
    }
  },
  mounted () {
    this.loadPage(1)
  },
  methods: {
    toPage (page) {
      if (page !== this.currentPage) {
        this.loadPage(page)
      }
    },

    nextPage (val) {
      if ((this.currentPage <= 1 && val === -1)
        || (this.currentPage >= this.maxPage && val === 1)) {
        return
      }
      this.currentPage += val
      this.loadPage(this.currentPage)
    },

    async loadPage (page) {
      this.history = []
      const limit = 20
      this.isLoading = true
      try {
        const history = await OrderService.getOrderAll({ page, limit })

        this.currentPage = page
        this.maxPage = history.pages

        history.results.forEach((order) => {
          let fullDate = order.pickUpDate.slice(0, 10)
          const year = fullDate.slice(0, 4)
          const month = fullDate.slice(5, 7)
          const day = fullDate.slice(8, 10)
          fullDate = `${month }/${ day }/${ year}`
          this.history.push({
            date: fullDate,
            order: `#${order.id}`,
            type: order.orderMethod,
            total: order.total,
            status: order.orderStatus
          })
        })
        this.isLoading = false
      } catch (err) {
        this.isLoading = false
      }
    }
  }
}
</script>

<style>

</style>
