@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  :root {
    --color-primary: #ABCE37;
    --color-secondary: #2E404A;
    --color-third: #EED2C7;
    --color-info: #D9D9D9;
    --color-login: #1877F2;
    --color-confirm: #4CAF4F;
    --color-danger: #DE4747;
    --color-offline: #D9D9D9;
    --color-hover: #2E404A;
    --color-contrast: #2E404A;
  }

  :focus-visible {
    outline: unset;
  }

  a[type="button"] {
    padding: 8px 32px;
    border-radius: 8px;
  }

  .line-2-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
}