<template>
  <div class="w-screen h-screen">
    <div class="flex w-full h-full justify-center items-center text-center">
      <Nuxt />
    </div>
  </div>
</template>

<script>
export default {
  name: 'AuthLayout',
  data () {
    return {
    }
  },
  head () {
    return {
      link: [
        { rel: 'icon', type: 'image/x-icon', href: this.$store.getters['WebSetting/favIconUrl'] }
      ],
      meta: [
        { property: 'og:image', content: this.$store.getters['WebSetting/bannerImageUrl'] }
      ]
    }
  }
}
</script>

<style>
* {
  font-family: 'Poppins';
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity ease-in-out .25s;
}
.fade-enter,
.fade-leave-to{
  opacity: 0;
}

.notiFade-enter-active {
  transition: opacity ease-in-out .15s .1s;
}
.notiFade-leave-active {
  transition: opacity ease-in-out 1.5s .5s;
}

.notiFade-enter,
.notiFade-leave-to {
  opacity: 0;
}
</style>
