<template>
  <div id="app">
    <AppBar />
    <main
      id="site-content">
      <Nuxt />
    </main>
    <Footer />
    <transition name="fade">
      <div
        v-if="show"
        class="absolute">
        <StoreClosedModal
          :text="text"
          @hide="hide()" />
      </div>
    </transition>
  </div>
</template>

<script>
import AppBar from '@/components/main/appBar.vue'
import Footer from '@/components/Footer.vue'
import StoreClosedModal from '@/components/modal/storeClosedModal.vue'

export default {
  name: 'DefaultLayout',
  components: { AppBar, Footer, StoreClosedModal },
  data () {
    return {
      show: false,
      text: ''
    }
  },
  computed: {
    expire () {
      return this.$store.getters['Cart/expire']
    },
    hours () {
      return this.$store.getters['WebSetting/hours']
    }
  },
  mounted () {
    // const today = this.$dayjs().format('dddd').toUpperCase()
    // const currentHours = this.$dayjs().hour()
    // const currentMinute = this.$dayjs().minute()
    // const todayRestaurantData = this.hours.find((hour) => hour.label === today)
    // if (!todayRestaurantData.isClosed) {
    //   const openHours = todayRestaurantData.period[0].opensAt.split(':')
    //   const closeHours = todayRestaurantData.period[0].closesAt.split(':')

    //   const afterOpen = currentHours > openHours[0] && currentMinute > openHours[1]
    //   const beforeClose = currentHours < closeHours[0] && currentMinute < closeHours[1]
    //   const isClose = !(afterOpen && beforeClose)

    //   if (isClose) {
    //     this.show = true
    //     this.text = 'We apologize for the inconvenience, but our store is currently closed. We will be available again soon.'
    //   }
    // }

    if (this.expire === `${this.$dayjs().format('YYYY-MM-DD')}`) {
      this.show = true
      this.text = 'We apologize for the inconvenience, but your order has expired.'
      this.$store.dispatch('resetCart')
    }
  },
  methods: {
    hide () {
      this.show = false
    }
  }
}
</script>

<style>

</style>
