<template>
  <div id="error-page">
    <section class="flex justify-center items-center h-screen">
      <div class="text-center">
        <h2 class="text-5xl mb-2">
          {{ errorCode }}
        </h2>
        <h1 class="text-4xl">
          {{ errorMessage }}
        </h1>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'ErrorLayout',
  props: {
    error: {
      type: [Object, String],
      required: true
    }
  },
  computed: {
    errorCode () {
      return this.error.statusCode || 999
    },
    errorMessage () {
      switch (this.errorCode) {
        case 404: return 'Page not found.'
        default: return this.error?.message || 'An error occurred.'
      }
    }
  },
  mounted () {
    setTimeout(() => {
      this.$router.push(this.localePath('/'))
    }, 5000)
  }
}
</script>

<style scoped>
</style>
