<template>
  <section class="fixed top-0 bottom-fixed left-0 right-0 z-50 flex flex-col items-center justify-center overflow-y-scroll modal-overlay lg:container overscroll-contain hide-scrollbar">
    <div
      class="absolute top-0 left-0 right-0 h-[150vh] overflow-y-visible bg-none hide-scrollbar overscroll-contain"
      @click="hide()"></div>
    <div class="sticky top-0 w-screen h-screen lg:max-w-[768px] flex justify-center items-center">
      <div class="relative flex flex-col justify-between w-full h-full p-4 m-0 bg-white rounded lg:h-5/6 lg:m-8 lg:p-8 drop-shadow-2xl">
        <div class="grid grid-cols-1 overflow-auto overscroll-contain h-fit gap-y-4 md:gap-y-8 hide-scrollbar">
          <!-- Menu title Description and Image -->
          <div class="flex flex-col-reverse md:grid md:grid-cols-2 md:gap-x-4">
            <div class="flex flex-col gap-2 md:gap-4">
              <span class="text-base font-semibold md:text-2xl">
                {{ name || 'name' }}
              </span>
              <span class="text-sm font-medium md:text-base">
                {{ nativeName }}
              </span>
              <span class="text-sm font-normal md:text-base">
                {{ description }}
              </span>
            </div>
            <img
              loading="lazy"
              :src="coverImage"
              :alt="name"
              class="w-full mb-2 md:mb-0"
              @error="imgError($event)">
          </div>

          <!-- Modifiers selection -->
          <client-only>
            <div
              v-if="newMod"
              class="grid grid-cols-1 gap-4">
              <div
                v-for="(mod, modIndex) in newMod"
                :key="modIndex"
                class="flex flex-col gap-2 mb-4 lg:mb-0">
                <!-- Modifiers title -->
                <div class="w-full h-px my-2 border border-solid border-offline lg:my-6"></div>
                <span
                  :class="{
                    'cursor-default': mod.req === 'REQUIRED',
                    'cursor-pointer': mod.req !== 'REQUIRED'
                  }"
                  class="flex items-start justify-between w-full text-base font-semibold md:text-xl"
                  @click="toggleShow(modIndex, mod.req)">
                  <div class="flex flex-col w-full lg:w-3/5">
                    <span>{{ mod.label }}</span>
                    <div
                      class="text-xs font-normal lg:text-sm text-info">
                      <span>Select {{ mod.maxSelected }}</span>
                    </div>
                  </div>
                  <span
                    :class="{'bg-primary text-white': mod.req === 'REQUIRED'}"
                    class="px-4 py-1 text-xs rounded-full lg:text-sm bg-info">
                    {{ mod.req }}
                  </span>
                </span>
                <!-- Modifiers choice -->
                <ul
                  v-if="mod.show"
                  class="flex flex-col gap-0.5 overflow-y-auto text-sm font-normal h-fit lg:max-h-52 md:text-base md:gap-1">
                  <li
                    v-for="(choice, optionIndex) in mod.items"
                    :key="optionIndex"
                    class="flex justify-between duration-100 rounded hover:bg-info">
                    <label
                      :for="`${modIndex} ${optionIndex}`"
                      class="flex w-full gap-2 p-2 cursor-pointer md:gap-4">
                      <input
                        :id="`${modIndex} ${optionIndex}`"
                        v-model="mod.value"
                        type="checkbox"
                        class="cursor-pointer accent-login"
                        :name="choice"
                        :value="mapChoiceValue(mod, choice)"
                        @change="trimMod(mod.value, mod.maxSelected)">
                      <div class="flex justify-between w-full cursor-pointer">
                        <span>{{ choice.name }}</span>
                        <span>+{{ formatChoicePrice(choice.price) }}</span>
                      </div>
                    </label>
                  </li>
                  <div
                    v-if="mod.req !== 'REQUIRED'"
                    class="flex items-center justify-center py-1 text-sm font-normal rounded cursor-pointer h-fit md:text-base lg:py-2 bg-info"
                    @click="toggleShow(modIndex, mod.req)">
                    Hide modifier(s)
                  </div>
                </ul>
                <div
                  v-else-if="mod.req !== 'REQUIRED'"
                  class="flex items-center justify-center py-1 text-sm font-normal rounded cursor-pointer h-fit md:text-base lg:py-2 bg-info"
                  @click="toggleShow(modIndex, mod.req)">
                  Show modifier(s)
                </div>
              </div>
            </div>
          </client-only>

          <div class="p-2 mt-3 mb-4 border border-solid rounded border-secondary md:mt-6 md:mb-8">
            <textarea
              v-model="note"
              placeholder="Note"
              class="w-full h-full"></textarea>
          </div>
        </div>
        <div>
          <div class="w-full h-px mb-4 border border-solid rounded border-secondary"></div>
          <div class="flex justify-between lg:gap-8">
            <div class="flex items-center justify-center gap-4 p-2 rounded-lg">
              <button
                class="w-10 h-10 p-2 duration-200 bg-white border rounded-full hover:border-transparent active:scale-90 hover:bg-red-500 hover:text-white border-info mdi mdi-minus"
                @click="decrease()"></button>
              <input
                v-model="amount"
                placeholder="1"
                type="tel"
                class="w-20 px-4 py-2 text-center duration-200 border rounded-lg bg-info hover:bg-white border-info"
                @change="checkAmount()">
              <button
                class="w-10 h-10 p-2 duration-200 bg-white border rounded-full hover:border-transparent active:scale-90 hover:bg-green-500 hover:text-white border-info mdi mdi-plus"
                @click="increase()"></button>
            </div>
            <div class="flex items-center justify-center w-full gap-4 lg:w-auto">
              <button
                class="items-center justify-center hidden px-4 py-2 text-center bg-transparent rounded lg:flex text-secondary"
                @click="hide()">
                Back
              </button>
              <button
                :disabled="!isAvailable || !pass"
                class="w-full py-2 text-center text-white duration-100 rounded lg:w-fit lg:px-16 bg-confirm disabled:bg-info"
                @click="addToCart()">
                Confirm
              </button>
            </div>
          </div>
        </div>
        <button
          class="absolute flex items-center justify-center w-10 h-10 duration-300 border-4 border-white rounded-full top-4 right-4 bg-info mdi mdi-close hover:bg-danger hover:text-white"
          @click="hide()"></button>
      </div>
    </div>
  </section>
</template>

<script>
import MenuProvider from '~/resources/MenuProvider'

const MenuService = new MenuProvider()

export default {
  name: 'AddToCartPopUp',
  props: {
    name: {
      type: String,
      default: ''
    },
    nativeName: {
      type: String,
      default: ''
    },
    menuId: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    price: {
      type: String,
      default: ''
    },
    coverImage: {
      type: String,
      default: ''
    },
    isAvailable: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      newMod: [{
        req: 'REQUIRED',
        reqMet: false,
        maxSelected: 0,
        label: '',
        items: [],
        value: [],
        id: 'modifier-id',
        abbreviation: '',
        show: false
      }],
      note: '',
      amount: 1
    }
  },
  computed: {
    pass () {
      return this.checkPass()
    }
  },
  async mounted () {
    const restaurantId = this.$store.getters['WebSetting/restaurantId']
    const response = await MenuService.getMenuByID(this.menuId, restaurantId)
    this.newMod = response.modifiers.map((mod) => {
      const show = this.setShow(mod.type)
      const data = {
        req: mod.type,
        reqMet: false,
        maxSelected: mod.maxSelected,
        label: mod.label,
        items: mod.items,
        value: [],
        id: mod.id,
        abbreviation: mod.abbreviation,
        show
      }
      return data
    })
    this.checkRequired()
  },
  methods: {
    imgError (event) {
      const eventTatget = event.target
      eventTatget.src = '/images/dummy.jpg'
    },
    addToCart () {
      const activeMod = this.newMod.flatMap((mod) => mod.value)
      this.$emit('addToCart', {
        mod: activeMod,
        note: this.note,
        amount: this.amount
      })
      this.$store.dispatch('Cart/setExpire', `${this.$dayjs().add(3, 'day').format('YYYY-MM-DD')}`)
    },
    hide () {
      this.$emit('hide')
    },
    trimMod (val, max) {
      if (val.length > max) {
        val.shift()
      }
      this.checkRequired()
    },
    mapChoiceValue (mod, choice) {
      return {
        id: mod.id,
        label: mod.label,
        abbreviation: mod.abbreviation,
        ...choice
      }
    },
    formatChoicePrice (price) {
      const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD'
      })
      return formatter.format(price)
    },
    checkRequired () {
      this.newMod = this.newMod.map((mod) => ({
        ...mod,
        reqMet: (mod.req === 'REQUIRED' && mod.value.length > 0) || mod.req === 'OPTIONAL'
      }))
    },
    checkPass () {
      return this.newMod.every((mod) => mod.reqMet)
    },
    setShow (type) {
      return ['REQUIRED'].includes(type)
    },
    toggleShow (index, req) {
      if (req === 'REQUIRED') return
      this.newMod[index].show = !this.newMod[index].show
    },
    increase () {
      this.amount++
    },
    decrease () {
      if (this.amount === 1) {
        return
      }
      this.amount--
    },
    checkAmount () {
      if (this.amount < 1) {
        this.amount = 1
      }
    }
  }
}
</script>

<style scoped>
.modal-overlay {
  background-color: #000000da;
  max-width: 100vw;
  max-height: 100vh;
  max-height: 100lvh;
  min-height: -webkit-fill-available;
  min-height: calc(100vh - env(safe-area-inset-bottom));
}
.bottom-fixed {
  bottom: 0;
  bottom: calc(100lvh - 100svh);
  bottom: -webkit-fill-available;
  bottom: env(safe-area-inset-bottom);
}
</style>
