<template>
  <section class="modal-overlay flex justify-center items-end mb-6 mr-6 z-30">
    <div class="w-fit bg-white border rounded-full border-solid border-offline shadow-xl flex justify-between">
      <button
        class="w-fit h-fit flex justify-center items-center gap-0.5 lg:gap-2 bg-primary p-3 border-none rounded-full"
        @click="setPage('Cart') ">
        <img
          loading="lazy"
          src="/svg/cart.svg"
          class="w-10 h-10" />
        <span
          v-if="itemInCart > 0"
          class="right-0 top-0 w-6 font-medium text-white text-2xl">
          {{ itemInCart }}
        </span>
      </button>
    </div>
  </section>
</template>

<script>
export default {
  name: 'CartButton',
  computed: {
    itemInCart () {
      return this.$store.getters['Cart/itemInCart']
    }
  },
  methods: {
    setPage (val) {
      this.currentPage = val
      switch (val) {
        case 'Cart':
          this.$router.push('/order')
          break
        case 'Account':
          this.$router.push('/account')
          break
        default:
          break
      }
    }
  }
}
</script>

<style scoped>

.modal-overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 100vw;
  max-height: 100vh;
}
</style>
