<template>
  <section class="modal-overlay flex justify-center items-center">
    <div class="w-fit h-fit flex justify-center items-center">
      <div class="border rounded border-solid border-offline flex justify-center items-center flex-col bg-white">
        <div class="w-full p-2 border rounded border-solid border-offline flex justify-center items-center">
          <span>Choose the time you want to pick up</span>
        </div>
        <div class="container my-4 flex flex-col justify-center items-center gap-2">
          <div class="w-full border rounded border-solid border-offline flex gap-2">
            <input
              id="asap"
              v-model="desireTime"
              type="radio"
              name="asap"
              value="asap"
              class="ml-4 my-2 accent-login">
            <label
              for="asap"
              class="w-full py-2 flex items-center cursor-pointer">As Soon As Possible</label>
          </div>
          <div class="w-full border rounded border-solid border-offline flex gap-2">
            <input
              id="nextTime"
              v-model="desireTime"
              type="radio"
              name="nextTime"
              value="nextTime"
              class="ml-4 my-2 accent-login"
              @click="getToday()">
            <label
              for="nextTime"
              class="w-full py-2 flex items-center cursor-pointer">Next Time</label>
          </div>
          <div
            v-if="desireTime == 'nextTime'"
            class="w-full p-2 border rounded border-solid border-offline flex flex-col gap-2">
            <div class="border rounded border-solid border-offline">
              <input
                v-model="pickupDate"
                type="date"
                class="w-full px-4 py-2 cursor-pointer accent-login">
            </div>
            <div class="w-full h-px border border-solid border-offline"></div>
            <diV class="max-h-40 overflow-y-scroll">
              <div
                v-for="(timeRange, index) in availTime"
                :key="index"
                class="px-2 pt-2 flex gap-2 bg-white hover:drop-shadow-sm">
                <input
                  :id="timeRange"
                  v-model="pickupTime"
                  type="radio"
                  class="accent-login"
                  :name="timeRange"
                  :value="timeRange">
                <label
                  :for="timeRange"
                  class="w-full cursor-pointer">{{ timeRange }}</label>
              </div>
            </diV>
          </div>
          <button
            class="w-full my-2 py-2 text-white rounded bg-confirm"
            @click="setTime()">
            Confirm
          </button>
          <button
            class="w-fit my-2 px-4 py-2 rounded bg-[#F0F0F0]"
            @click="togglePickTime()">
            Back
          </button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ChooseTime',
  data () {
    return {
      desireTime: 'asap',
      pickupDate: '0001-01-01',
      pickupTime: '00:00 - 00:00',
      availTime: [
        '00:00 - 01:00',
        '01:00 - 02:00',
        '02:00 - 03:00',
        '03:00 - 04:00',
        '04:00 - 05:00',
        '05:00 - 06:00',
        '06:00 - 07:00',
        '07:00 - 08:00',
        '08:00 - 09:00',
        '09:00 - 10:00',
        '10:00 - 11:00',
        '11:00 - 12:00',
        '12:00 - 13:00',
        '13:00 - 14:00',
        '14:00 - 15:00',
        '15:00 - 16:00',
        '16:00 - 17:00',
        '17:00 - 18:00',
        '18:00 - 19:00',
        '19:00 - 20:00',
        '20:00 - 21:00',
        '21:00 - 22:00',
        '22:00 - 23:00',
        '23:00 - 00:00'
      ]
    }
  },
  computed: {
    date () {
      return this.$store.getters['Cart/date']
    },
    time () {
      return this.$store.getters['Cart/time']
    }
  },
  mounted () {
    this.pickupDate = this.date
    this.pickupTime = this.time
  },
  methods: {
    togglePickTime () {
      this.$emit('togglePickTime')
    },
    setTime () {
      if (this.desireTime === 'asap') {
        this.getToday()
        this.getTime()
      }
      this.$store.dispatch('Cart/setDateTime', { date: this.pickupDate, time: this.pickupTime })
      this.togglePickTime()
    },
    getToday () {
      this.pickupDate = this.$dayjs().format('YYYY-MM-DD')
    },
    getTime () {
      let time = ''
      if (Number(this.$dayjs().format('mm')) <= 30) {
        time = `${this.$dayjs().format('hh:00A')} - ${this.$dayjs().add(1, 'h').format('hh:00A')}`
      } else {
        time = `${this.$dayjs().add(1, 'h').format('hh:00A')} - ${this.$dayjs().add(2, 'h').format('hh:00A')}`
      }
      this.pickupTime = time
    }
  }
}
</script>

<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000da;
  z-index: 10;
}
</style>
