<template>
  <section class="modal-overlay flex justify-center">
    <div class="flex items-center">
      <div class="w-fit m-4 bg-white border rounded border-solid border-offline">
        <div class="px-4 lg:px-12 py-2 lg:py-4 border rounded border-solid border-offline flex justify-center items-center font-semibold leading-relaxed text-center">
          <h1>
            Are you sure, you want to delete <br>
            "{{ name }}" ?
          </h1>
        </div>
        <div class="px-2 flex justify-center items-center flex-col">
          <div class="w-full ">
            <button
              class="w-full my-2 py-2 text-white rounded bg-danger"
              @click="remove()">
              Yes
            </button>
            <button
              class="w-full my-2 px-4 py-2 rounded bg-[#F0F0F0]"
              @click="cancelRemove()">
              No
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ConfirmModal',
  props: {
    name: {
      type: String,
      default: 'itemName'
    }
  },
  methods: {
    remove () {
      this.$emit('remove')
    },
    cancelRemove () {
      this.$emit('cancelRemove')
    }
  }
}
</script>

<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000da;
  z-index: 30;
}
</style>
