<template>
  <section class="flex items-center justify-center modal-overlay lg:container">
    <div class="w-full h-full lg:max-w-[768px] lg:h-5/6 flex justify-center items-center">
      <div class="flex flex-col w-full h-full p-4 m-0 overflow-auto bg-white rounded lg:m-8 lg:p-8 drop-shadow-2xl">
        <button
          class="absolute top-2.5 right-2.5"
          @click="close()">
          <img
            loading="lazy"
            src="/svg/cancel.svg"
            alt="cancel">
        </button>
        <div class="flex flex-col items-center">
          <span class="text-2xl font-semibold">Create an account</span>
          <span class="text-base font-normal">Create an account to Continue</span>
          <div class="flex flex-col justify-center w-4/5 gap-2 mt-6">
            <button
              v-for="(brand, index) in icons"
              :key="index"
              class="flex items-center justify-center gap-4 p-4 bg-white rounded drop-shadow hover:drop-shadow-sm"
              @click="socialLogin(index)">
              <img
                loading="lazy"
                :src="brand.image"
                alt="brand logo">
              <span class="text-base font-medium">Continue with {{ brand.brand }}</span>
            </button>
          </div>
        </div>
        <div class="w-full mt-4 border border-solid rounded px border-secondary/50"></div>

        <ValidationObserver ref="form">
          <div class="flex justify-center">
            <div class="flex flex-col w-4/5 mt-6">
              <div class="flex flex-col gap-4 text-left">
                <div class="flex flex-col justify-between gap-4 lg:flex-row">
                  <div class="flex flex-col">
                    <label for="">Firstname</label>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="First Name"
                      rules="required">
                      <input
                        v-model="form.firstName"
                        name="First Name"
                        type="text"
                        placeholder="Firstname"
                        class="flex w-full gap-4 px-4 py-2 bg-white rounded drop-shadow hover:drop-shadow-sm"
                        @change="check()">
                      <span class="err">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                  <div class="flex flex-col">
                    <label for="">Lastname</label>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="Last Name"
                      rules="required">
                      <input
                        v-model="form.lastName"
                        name="Last Name"
                        type="text"
                        placeholder="Lastname"
                        class="flex w-full gap-4 px-4 py-2 bg-white rounded drop-shadow hover:drop-shadow-sm"
                        @change="check()">
                      <span class="err">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </div>
                <div class="flex flex-col w-full">
                  <label for="">Email</label>
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="Email"
                    rules="email|required"
                    class="w-full">
                    <input
                      v-model="form.email"
                      name="Email"
                      type="text"
                      placeholder="Email@email.com"
                      class="flex w-full gap-4 px-4 py-2 bg-white rounded drop-shadow hover:drop-shadow-sm"
                      @change="check()">
                    <span class="err">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
                <div class="flex flex-col w-full">
                  <label for="">Tel.</label>
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="Tel"
                    rules="required|tel"
                    class="w-full">
                    <input
                      v-model="form.tel"
                      name="Tel"
                      type="text"
                      placeholder="000-000-0000"
                      class="flex w-full gap-4 px-4 py-2 bg-white rounded drop-shadow hover:drop-shadow-sm"
                      @change="check()">
                    <span class="err">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>

                <ValidationObserver
                  ref="pass"
                  class="flex flex-col gap-4">
                  <div class="flex flex-col">
                    <label for="">Password</label>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="Password"
                      rules="required|password:@confirm|min:8">
                      <input
                        v-model="form.password"
                        name="Password"
                        type="password"
                        placeholder="Password"
                        class="flex w-full gap-4 px-4 py-2 bg-white rounded drop-shadow hover:drop-shadow-sm"
                        @change="check()">
                      <span class="err">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                  <div class="flex flex-col">
                    <label for="">Confirm Password</label>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="confirm"
                      rules="required">
                      <input
                        v-model="confirmPass"
                        name="confirm"
                        type="password"
                        placeholder="Confirm Password"
                        class="flex w-full gap-4 px-4 py-2 bg-white rounded drop-shadow hover:drop-shadow-sm"
                        @change="check()">
                      <span class="err">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </ValidationObserver>

                <div class="flex flex-col justify-between lg:flex-row">
                  <div class="flex flex-col">
                    <label for="">Address</label>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="Address"
                      rules="required">
                      <input
                        v-model="form.address.address"
                        name="Address"
                        type="text"
                        placeholder="Address"
                        class="flex gap-4 px-4 py-2 bg-white rounded drop-shadow hover:drop-shadow-sm"
                        @change="check()">
                      <span class="err">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                  <div class="flex flex-col">
                    <label for="">City</label>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="City"
                      rules="required">
                      <input
                        v-model="form.address.city"
                        name="City"
                        type="text"
                        placeholder="City"
                        class="flex gap-4 px-4 py-2 bg-white rounded drop-shadow hover:drop-shadow-sm"
                        @change="check()">
                      <span class="err">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </div>
                <div class="flex flex-col justify-between lg:flex-row">
                  <div class="flex flex-col ">
                    <label for="">State</label>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="State"
                      rules="required">
                      <input
                        v-model="form.address.state"
                        name="State"
                        type="text"
                        placeholder="State"
                        class="flex gap-4 px-4 py-2 bg-white rounded drop-shadow hover:drop-shadow-sm"
                        @change="check()">
                      <span class="err">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                  <div class="flex flex-col">
                    <label for="">Zipcode</label>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="Zipcode"
                      rules="required">
                      <input
                        v-model="form.address.zipCode"
                        name="Zipcode"
                        type="text"
                        placeholder="Zipcode"
                        class="flex gap-4 px-4 py-2 bg-white rounded drop-shadow hover:drop-shadow-sm"
                        @change="check()">
                      <span class="err">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </div>
              </div>
              <div class="flex flex-col justify-between my-2 lg:flex-row">
                <div class="flex gap-2 text-left md:gap-4">
                  <input
                    id="agreement"
                    v-model="agreement"
                    type="checkbox"
                    name="agreement"
                    @change="check()">
                  <label for="agreement">
                    I agree to the
                    <span class="text-blue-500 underline hover:text-blue-700 underline-offset-2">
                      <a
                        href="https://www.tthai.co/th/general-terms-of-service/"
                        target="_blank">Term of Service</a>
                    </span>
                    and
                    <span class="text-blue-500 underline hover:text-blue-700 underline-offset-2">
                      <a
                        href="https://www.tthai.co/th/privacy/"
                        target="_blank">Private Policy.</a>
                    </span>
                  </label>
                </div>
              </div>
              <span class="err text-start"> {{ error }}</span>
              <button
                v-if="formComplete"
                class="flex justify-center py-2 my-4 text-white rounded bg-login drop-shadow hover:drop-shadow-sm"
                @click="create()">
                <span class="text-base font-medium">Create an account</span>
              </button>
              <button
                v-else
                class="flex justify-center py-2 my-4 text-white rounded cursor-default bg-info">
                <span class="text-base font-medium">Create an account</span>
              </button>
            </div>
          </div>
        </ValidationObserver>

        <div class="flex items-center justify-between gap-4">
          <div class="w-full h-px border border-solid rounded border-secondary/50"></div>
          <h1 class="text-2xl font-medium">
            OR
          </h1>
          <div class="w-full h-px border border-solid rounded border-secondary/50"></div>
        </div>
        <div class="flex justify-center">
          <div class="flex flex-col justify-center w-4/5 mt-0 lg:mt-6">
            <button
              class="flex justify-center py-2 my-4 duration-200 bg-white border border-solid rounded text-login border-login drop-shadow hover:drop-shadow-sm hover:bg-login hover:text-white"
              @click="toggleLogin()">
              <span class="text-base font-medium">Login</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import UserProvider from '@/resources/UserProvider'

const UserService = new UserProvider()

export default {
  name: 'CreateAccount',
  data () {
    return {
      form: {
        firstName: '',
        lastName: '',
        email: '',
        tel: '',
        password: '',
        address: {
          address: '',
          city: '',
          state: '',
          zipCode: ''
        }
      },
      confirmPass: '',
      agreement: false,
      icons: [{
      //   image: '/svg/loginApple.svg',
      //   brand: 'Apple'
      // }, {
      //   image: '/svg/loginGoogle.svg',
      //   brand: 'Google'
      // }, {
      //   image: '/svg/loginFB.svg',
      //   brand: 'Facebook'
      // }, {
        image: '/svg/loginGuest.svg',
        brand: 'Guest'
      }],
      formComplete: false,
      error: ''
    }
  },
  methods: {
    close () {
      this.$emit('close')
    },
    async create () {
      const restaurantId = this.$store.getters['WebSetting/restaurantId']

      try {
        await UserService.createNewCustomer({
          firstName: this.form.firstName,
          lastName: this.form.lastName,
          email: this.form.email,
          tel: this.form.tel,
          password: this.form.password,
          address: {
            address: this.form.address.address,
            city: this.form.address.city,
            state: this.form.address.state,
            zipCode: this.form.address.zipCode
          },
          loginType: 'NORMAL',
          restaurantId
        })
        const message = 'Welcome ...'
        this.$emit('toggleAction', message)
        this.close()
      } catch (err) {
        this.error = err.message
      }
    },
    toggleLogin () {
      this.$emit('showLogin')
    },
    socialLogin (index) {
      switch (index) {
        case 0:
          this.$emit('showGuest')
          break

        default:
          break
      }
    },
    async check () {
      if (await this.$refs.form.validate() && this.agreement === true) {
        this.formComplete = true
      }
    }
  }
}
</script>

<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000da;
  z-index: 50;
  max-width: 100vw;
  max-height: 100vh;
}

.err {
  color: red;
  font-size: 12px;
}
</style>
