<template>
  <section class="modal-overlay flex justify-center items-center lg:container">
    <ValidationObserver
      v-slot="{ invalid }"
      ref="form"
      class="w-full h-auto lg:max-w-[768px] max-h-[80vh] flex justify-center items-center">
      <div class="w-full h-full flex flex-col m-0 lg:m-8 p-4 bg-white rounded drop-shadow-2xl lg:p-8 overflow-auto">
        <button
          class="absolute top-2.5 right-2.5"
          @click="close()">
          <img
            loading="lazy"
            src="/svg/cancel.svg"
            alt="cancel">
        </button>
        <div class="flex flex-col items-center">
          <span class="text-2xl font-semibold">Continue as Guest</span>
          <span class="text-base font-normal">Please provide your information for this order.</span>
        </div>
        <div class="flex justify-center">
          <div class="w-4/5 flex flex-col mt-6">
            <div class="flex flex-col gap-4 text-left">
              <div class="flex flex-col">
                <ValidationProvider
                  v-slot="{ errors }"
                  name="first Name"
                  rules="required">
                  <label for="first-name">First name</label>
                  <input
                    id="first-name"
                    v-model="firstName"
                    name="first Name"
                    type="text"
                    placeholder="Your First Name"
                    class="w-full px-4 py-2 flex gap-4 rounded bg-white drop-shadow hover:drop-shadow-sm">
                  <span class="err">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="flex flex-col">
                <ValidationProvider
                  v-slot="{ errors }"
                  name="Last Name"
                  rules="required">
                  <label for="last-name">Last name</label>
                  <input
                    id="last-name"
                    v-model="lastName"
                    name="Last Name"
                    type="text"
                    placeholder="Your Last Name"
                    class="w-full px-4 py-2 flex gap-4 rounded bg-white drop-shadow hover:drop-shadow-sm">
                  <span class="err">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="flex flex-col">
                <ValidationProvider
                  v-slot="{ errors }"
                  name="Telephone Number"
                  rules="required|tel">
                  <label for="telephone-number">Phone</label>
                  <input
                    id="telephone-number"
                    v-model="tel"
                    name="Telephone Number"
                    type="tel"
                    placeholder="Your Telephone Number"
                    class="w-full px-4 py-2 flex gap-4 rounded bg-white drop-shadow hover:drop-shadow-sm">
                  <span class="err">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="flex flex-col">
                <ValidationProvider
                  v-slot="{ errors }"
                  name="Email"
                  rules="required|email">
                  <label for="email">Email</label>
                  <input
                    id="email"
                    v-model="email"
                    name="Email"
                    type="email"
                    placeholder="email@email.com"
                    class="w-full px-4 py-2 flex gap-4 rounded bg-white drop-shadow hover:drop-shadow-sm">
                  <span class="err">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
            </div>

            <span class="err"> {{ error }}</span>
            <button
              :disabled="invalid"
              :class="{
                'bg-login drop-shadow hover:drop-shadow-sm': !invalid,
                'bg-info cursor-default': invalid
              }"
              class="my-4 py-2 flex justify-center rounded text-white"
              @click="logIn()">
              <span class="text-base font-medium">Continue as Guest</span>
            </button>
          </div>
        </div>
      </div>
    </ValidationObserver>
  </section>
</template>

<script>
import UserProvider from '@/resources/UserProvider'

const UserService = new UserProvider()

export default {
  name: 'GuestLogIn',
  data () {
    return {
      firstName: '',
      lastName: '',
      tel: '',
      email: '',
      formComplete: false,
      error: ''
    }
  },
  methods: {
    close () {
      this.$emit('close')
    },
    toggleCreate () {
      this.$emit('showCreate')
    },
    toggleLogin () {
      this.$emit('showLogin')
    },
    async logIn () {
      let userData = null
      try {
        userData = await UserService.guestLogin({
          firstName: this.firstName,
          lastName: this.lastName,
          restaurantId: this.$store.getters['WebSetting/restaurantId'],
          tel: this.tel,
          email: this.email
        })
        const loginUser = await UserService.getCustomerById(userData.data.id)
        this.$store.dispatch('User/setAccessToken', userData.accessToken)
        this.$store.dispatch('User/setCustomer', loginUser)
        this.$store.dispatch('User/logInWithGuest')
        const message = 'Logged in as Guest'
        this.$emit('toggleAction', message)
        this.close()
      } catch (err) {
        this.error = err.message
      }
    }
  }
}
</script>2

<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000da;
  z-index: 50;
  max-width: 100vw;
  max-height: 100vh;
}

.err {
  color: red;
  font-size: 12px;
}
</style>
