<template>
  <section class="flex items-center justify-center modal-overlay lg:container">
    <div class="w-full h-auto lg:max-w-[768px] max-h-[80vh] flex justify-center items-center">
      <div class="flex flex-col w-full h-full p-4 m-0 overflow-auto bg-white rounded lg:m-8 drop-shadow-2xl lg:p-8">
        <button
          class="absolute top-2.5 right-2.5"
          @click="close()">
          <img
            loading="lazy"
            src="/svg/cancel.svg"
            alt="cancel">
        </button>
        <div class="flex flex-col items-center">
          <span class="text-2xl font-semibold">Welcome Back !!</span>
          <span class="text-base font-normal">Login to Continue</span>
          <div class="flex flex-col justify-center w-4/5 gap-2 mt-6">
            <button
              v-for="(brand, index) in icons"
              :key="index"
              class="flex items-center justify-center gap-4 p-4 bg-white rounded drop-shadow hover:drop-shadow-sm"
              @click="socialLogin(index)">
              <img
                loading="lazy"
                :src="brand.image"
                alt="brand logo">
              <span
                v-if="brand.brand === 'Guest'"
                class="text-base font-medium">
                Continue as Guest
              </span>
              <span
                v-else
                class="text-base font-medium">
                Continue with {{ brand.brand }}
              </span>
            </button>
          </div>
        </div>
        <div class="w-full h-px mt-4 border border-solid rounded border-secondary/50"></div>
        <div class="flex justify-center">
          <div class="flex flex-col w-4/5 mt-6">
            <ValidationObserver ref="form">
              <div class="flex flex-col gap-4 text-left">
                <div class="flex flex-col">
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="email"
                    rules="email|required">
                    <label for="">Email</label>
                    <input
                      v-model="email"
                      name="email"
                      type="text"
                      placeholder="e-mail@email.com"
                      class="flex w-full gap-4 px-4 py-2 bg-white rounded drop-shadow hover:drop-shadow-sm"
                      @change="check()">
                    <span class="err">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
                <div class="flex flex-col">
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="Password"
                    rules="required">
                    <label for="">Password</label>
                    <input
                      v-model="password"
                      name="Password"
                      type="password"
                      placeholder="Your Password"
                      class="flex w-full gap-4 px-4 py-2 bg-white rounded drop-shadow hover:drop-shadow-sm"
                      @change="check()">
                    <span class="err">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
              </div>
            </ValidationObserver>

            <div class="flex flex-col justify-between mt-1 mb-2 lg:flex-row">
              <!-- <div class="flex gap-2 md:gap-4">
                <input
                  id="remember"
                  v-model="remember"
                  type="checkbox"
                  name="remember"
                  @change="setRemember()">
                <label for="remember">Remember me</label>
              </div> -->
              <!-- <nuxt-link to="/account/forgot-password">
                <span>Forgot password?</span>
              </nuxt-link> -->
            </div>

            <span class="err"> {{ error }}</span>
            <button
              :disabled="!formComplete"
              class="flex justify-center py-2 my-4 text-white rounded bg-login disabled:bg-info drop-shadow hover:drop-shadow-sm"
              @click="logIn()">
              <span class="text-base font-medium">Login</span>
            </button>
          </div>
        </div>
        <div class="flex items-center justify-between gap-4">
          <div class="w-full h-px border border-solid rounded border-secondary/50"></div>
          <h1 class="text-2xl font-medium">
            OR
          </h1>
          <div class="w-full h-px border border-solid rounded border-secondary/50"></div>
        </div>
        <div class="flex justify-center">
          <div class="flex flex-col justify-center w-4/5 mt-0 lg:mt-6">
            <button
              class="flex justify-center py-2 my-4 duration-200 bg-white border border-solid rounded text-login border-login drop-shadow hover:drop-shadow-sm hover:bg-login hover:text-white"
              @click="toggleCreate()">
              <span class="text-base font-medium">Create an account</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import UserProvider from '@/resources/UserProvider'

const UserService = new UserProvider()

export default {
  name: 'LogIn',
  data () {
    return {
      icons: [{
      //   image: '/svg/loginApple.svg',
      //   brand: 'Apple'
      // }, {
      //   image: '/svg/loginGoogle.svg',
      //   brand: 'Google'
      // }, {
      //   image: '/svg/loginFB.svg',
      //   brand: 'Facebook'
      // }, {
        image: '/svg/loginGuest.svg',
        brand: 'Guest'
      }],
      email: '',
      password: '',
      formComplete: false,
      error: '',
      remember: false
    }
  },
  computed: {
    restaurantId () {
      return this.$store.getters['WebSetting/restaurantId']
    }
  },
  methods: {
    close () {
      this.$emit('close')
    },
    async logIn () {
      let userData = null
      try {
        userData = await UserService.normalLogin({
          restaurantId: this.restaurantId,
          email: this.email,
          password: this.password
        })
        const loginUser = await UserService.getCustomerById(userData.data.id)
        this.$store.dispatch('User/setAccessToken', userData.accessToken)
        this.$store.dispatch('User/setCustomer', loginUser)
        this.$store.dispatch('User/logIn')
        const message = 'Logged in as ...'
        this.$emit('toggleAction', message)
        this.close()
      } catch (err) {
        this.error = err.message
      }
    },
    toggleCreate () {
      this.$emit('showCreate')
    },
    async check () {
      if (await this.$refs.form.validate()) {
        this.formComplete = true
      }
    },
    setRemember () {
      this.$store.dispatch('User/setRememberUser', this.remember)
    },
    socialLogin (index) {
      switch (index) {
        case 0:
          this.$emit('showGuest')
          break

        default:
          break
      }
    }
  }
}
</script>

<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000da;
  z-index: 50;
  max-width: 100vw;
  max-height: 100vh;
}

.err {
  color: red;
  font-size: 12px;
}
</style>
