<template>
  <section class="modal-overlay flex justify-center items-end pb-6 z-20">
    <div class="w-fit bg-white border rounded-2xl border-solid border-offline shadow-xl flex justify-between">
      <div class="px-6 lg:px-12 py-4 lg:py-8 flex justify-center items-center font-semibold leading-relaxed text-center">
        <span>{{ message }}</span>
      </div>
      <div
        v-if="nextMessage"
        class="px-2 flex justify-center items-center flex-col">
        <button
          class="w-full my-2 py-2 text-white rounded bg-primary"
          @click="next()">
          {{ nextMessage }}
        </button>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ResponseModal',
  props: {
    message: {
      type: String,
      default: 'message'
    },
    nextMessage: {
      type: String,
      default: null
    }
  },
  methods: {
    next () {
      this.$emit('next')
    }
  }
}
</script>

<style scoped>

.modal-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
  max-height: 100vh;
}
</style>
