<template>
  <section class="modal-overlay flex justify-center">
    <div class="flex items-center">
      <div class="w-fit m-4 bg-white border rounded border-solid border-offline">
        <div class="px-4 lg:px-12 py-2 lg:py-4 border rounded border-solid border-offline flex justify-center items-center font-semibold leading-relaxed text-center">
          {{ text }}
        </div>
        <div class="px-2 flex justify-center items-center flex-col">
          <button
            class="w-full my-2 p-2 text-white rounded bg-danger"
            @click="hide()">
            Understood
          </button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'StoreClosedModal',
  props: {
    text: {
      type: String,
      default: 'example text'
    }
  },
  methods: {
    hide () {
      this.$emit('hide')
    }
  }
}
</script>

<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000da;
  z-index: 100;
}
</style>
