<template>
  <section class="fixed top-0 bottom-fixed left-0 right-0 z-50 flex flex-col items-center justify-center overflow-y-scroll modal-overlay lg:container overscroll-contain hide-scrollbar">
    <div
      class="absolute top-0 left-0 right-0 h-[150vh] overflow-y-visible bg-none hide-scrollbar overscroll-contain"
      @click="hide()"></div>
    <div class="sticky top-0 w-screen h-screen lg:max-w-[768px] flex justify-center items-center">
      <div class="relative flex flex-col justify-between w-full h-full p-4 m-0 bg-white rounded lg:h-5/6 lg:m-8 lg:p-8 drop-shadow-2xl">
        <div></div>
        <div class="grid grid-cols-1 overflow-auto overscroll-contain h-fit gap-y-4 md:gap-y-8 hide-scrollbar">
          <div class="text-center">
            <img
              id="banner"
              loading="lazy"
              :src="'/images/check.png'"
              class="z-0 object-cover object-center w-[200px] h-auto mx-auto rounded-none md:rounded-xl" />
          </div>
          <h1 class="text-center text-2xl font-semibold">
            Thank You!
          </h1>
          <div class="text-center">
            Your order has been successfully placed.
          </div>
          <div class="text-center">
            <button
              class="px-10 py-2 rounded text-center text-white bg-confirm drop-shadow hover:drop-shadow-sm"
              @click="hide()"
            >
              <span>OK</span>
            </button>
          </div>
        </div>
        <div class="h-[10vh]"></div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ThankyouPopup',
  props: {
  },
  data () {
    return {
    }
  },
  computed: {
  },
  // async mounted () { },
  methods: {
    hide () {
      this.$emit('hide')
    }
  }
}
</script>

<style scoped>
.modal-overlay {
  background-color: #000000da;
  max-width: 100vw;
  max-height: 100vh;
  max-height: 100lvh;
  min-height: -webkit-fill-available;
  min-height: calc(100vh - env(safe-area-inset-bottom));
}
.bottom-fixed {
  bottom: 0;
  bottom: calc(100lvh - 100svh);
  bottom: -webkit-fill-available;
  bottom: env(safe-area-inset-bottom);
}
</style>
