<template>
  <section class="modal-overlay flex justify-center items-center container">
    <div class="flex flex-col items-center w-fit h-fit m-4 bg-white border rounded border-solid border-offline">
      <div class="px-12 py-4 border rounded border-solid border-offline flex justify-center items-center font-semibold leading-relaxed text-center">
        <h1> Select Tip Amount </h1>
      </div>
      <div class="px-8 pt-6 pb-8 grid grid-cols-1 lg:grid-cols-6 gap-2 lg:gap-4">
        <div
          v-for="(option, index) in tipsOption"
          :key="index">
          <input
            :id="option"
            v-model="tipsPercent"
            type="radio"
            :value="option"
            class="hidden">
          <label
            :for="option"
            :class="{selected:option === tipsPercent && !isCustom}"
            class="w-full h-fit lg:h-20 grid grid-cols-2 lg:grid-cols-1 place-items-center gap-4 lg:gap-0 justify-center items-center bg-info rounded bg-white p-1 lg:p-4 duration-200 cursor-pointer"
            @click="disableInput(true)">
            <span
              v-if="option !== 0"
              class="font-medium lg:font-semibold">{{ option }}%</span>
            <span
              v-else
              class="font-medium lg:font-semibold">None</span>
            <span class="font-base">{{ tipsAmount[index] }}</span>
          </label>
        </div>
        <div>
          <input
            id="selectNone"
            v-model="tipsPercent"
            type="radio"
            value="99"
            class="hidden">
          <label
            for="selectNone"
            :class="{selected:isCustom}"
            class="w-full lg:w-fit h-fit lg:h-20 flex flex-row lg:flex-col gap-2 lg:gap-0 justify-center items-cente bg-info rounded bg-white p-1 lg:p-4 duration-200 cursor-pointer"
            @click="disableInput(false)">
            <span class="font-medium lg:font-semibold">Custom</span>
          </label>
        </div>
        <div class="flex gap-1 justify-between lg:justify-end items-center lg:col-span-6">
          <span>Custom tip $</span>
          <input
            id="input"
            v-model="customTips"
            type="number"
            placeholder="Custom Tip"
            disabled
            class="w-1/2 lg:w-1/4 py-2 px-4 border border-solid border-offline rounded flex justify-end items-center bg-white disabled:bg-info duration-200"
            @change="setPercent(customTips)">
        </div>
      </div>
      <div class="w-full px-2 flex justify-center items-center gap-4">
        <button
          class="w-full my-2 px-4 py-2 rounded bg-[#F0F0F0]"
          @click="close">
          Back
        </button>
        <button
          class="w-full my-2 px-4 py-2 text-white rounded bg-confirm"
          @click="confirm">
          Confirm
        </button>
      </div>
    </div>
  </section>
</template>

<script>
const formatter = new Intl.NumberFormat('en-US', {
  style: 'currency',
  currency: 'USD'
})

export default {
  name: 'TipsModal',
  props: {
    beforeTips: {
      type: [Number, String],
      default: 0
    },
    tips: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      isCustom: false,
      customTips: 0,
      tipsPercent: 10,
      newTips: 0,
      tipsOption: [0, 10, 15, 20, 25],
      tipsAmount: [],
      sumTips: []
    }
  },
  computed: {
    total () {
      const total = this.preTips + Number(this.customTips)
      return total.toFixed(2)
    },
    preTips () {
      return Number(this.beforeTips.replace('$', ''))
    }
  },
  mounted () {
    this.newTips = this.tips
    this.tipsOption.forEach((option) => {
      const justTips = this.preTips * (option / 100)

      const sum = this.preTips + justTips

      this.tipsAmount.push(formatter.format(justTips.toFixed(2)))
      this.sumTips.push(formatter.format(sum.toFixed(2)))
    })
  },

  methods: {
    confirm () {
      if (this.customTips !== 0) {
        this.newTips = this.customTips
      } else {
        const index = this.tipsOption.findIndex(
          (option) => option === this.tipsPercent
        )
        if (index === -1) {
          this.newTips = this.customTips
        } else {
          this.newTips = this.tipsAmount[index]
        }
      }
      if (this.newTips !== 0) {
        this.$store.dispatch('Cart/setTips', Number(this.newTips.replace('$', '')))
      } else {
        this.$store.dispatch('Cart/setTips', this.newTips)
      }
      this.close()
    },
    close () {
      this.$emit('close')
    },
    setPercent (val) {
      this.tipsPercent = val
    },
    disableInput (val) {
      this.isCustom = !val
      document.getElementById('input').disabled = val
      this.customTips = 0
    }
  }
}
</script>

<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000da;
  z-index: 10;
  max-width: 100vw;
  max-height: 100vh;
}

.selected {
  outline: 1px solid;
  background-color: #fff;
}
</style>
