<template>
  <div class="min-h-[100%] bg-[#f7f8fa] overflow-hidden">
    <div class="px-4 lg:px-24">
      <div class="flex flex-col items-center justify-between gap-2 mt-2 lg:gap-6 lg:mt-8">
        <h1 class="font-semibold text-normal lg:text-2xl">
          Menu
        </h1>
        <div class="focus:w-3/4 lg:w-1/2 lg:focus-within:w-2/3 p-0.5 bg-white rounded-full border border-primary flex justify-between items-center duration-500">
          <input
            v-model="search"
            type="text"
            placeholder="Search"
            class="w-full p-2 text-xs font-light rounded-full lg:py-2 lg:px-4 bg-none lg:text-base placeholder:font-light"
            @keypress.enter="searchInput()">
          <label
            for=""
            class="grid rounded-full place-items-center w-9 h-9 lg:w-20 lg:h-12 bg-primary">
            <button
              class="grid w-full h-full rounded-full place-items-center"
              tabindex="-1"
              @click="searchInput()">
              <img
                loading="lazy"
                src="/svg/search.svg"
                alt="search">
            </button>
          </label>
        </div>
      </div>
      <div class="w-full h-px mt-6 rounded bg-secondary"></div>
    </div>
    <div class="flex flex-col justify-between gap-4 px-4 mt-6 lg:px-24 lg:flex-row">
      <div class="flex items-center gap-4 lg:gap-10">
        <label
          for=""
          class="font-semibold text-normal lg:text-2xl">Filter</label>
        <select
          id="filter"
          name="filter"
          class="flex items-center justify-between px-4 py-2 duration-200 bg-white border rounded-full cursor-pointer border-primary hover:bg-primary hover:text-white focus:bg-primary focus:text-white"
          @change="getByFilter($event)">
          <option
            value=""
            selected>
            All
          </option>
          <option
            v-for="(singleCat, index) in categories"
            :key="index"
            :value="singleCat.id">
            <p>{{ singleCat.name }}</p>
          </option>
        </select>
      </div>
      <div class="flex items-center gap-4 lg:gap-10">
        <label
          for=""
          class="font-semibold text-normal lg:text-2xl">Sort by</label>
        <select
          id="sort"
          name="sort"
          class="flex items-center justify-between px-4 py-2 duration-200 bg-white border rounded-full cursor-pointer border-primary hover:bg-primary hover:text-white focus:bg-primary focus:text-white"
          @change="sort($event)">
          <option
            value=""
            selected>
            Recently Add
          </option>
          <option
            v-for="(option, index) in sortOption"
            :key="index"
            :value="JSON.stringify(option.value)">
            <p>{{ option.display }}</p>
          </option>
        </select>
      </div>
    </div>
    <allMenuList
      :item="menu"
      :page="page"
      :max-page="maxPage"
      @prevPage="prevPage()"
      @nextPage="nextPage()"
      @toPage="toPage" />
  </div>
</template>

<script>
import allMenuList from '@/components/allMenuList.vue'
import MenuProvider from '@/resources/MenuProvider'

const MenuService = new MenuProvider()

export default {
  name: 'AllProduct',
  components: { allMenuList },
  async asyncData ({ store }) {
    const restaurantId = store.getters['WebSetting/restaurantId']
    const page = 1
    const limit = 24
    const [menuData, categoryData] = await Promise.all([
      MenuService.getMenuList({ limit, page, restaurantId }),
      MenuService.getOnlyCategory({ restaurantId })
    ])

    return {
      categories: categoryData,
      restaurantId,
      limit,
      page,
      maxPage: menuData.pages,
      menuData: menuData.results
    }
  },
  data () {
    return {
      search: '',
      menu: [],
      selected: '',
      sorted: '',
      sortOption: [{
        display: 'Price : Low to High',
        value: {
          sortBy: 'price',
          sortOrder: 'asc'
        }
      }, {
        display: 'Price : High to Low',
        value: {
          sortBy: 'price',
          sortOrder: 'desc'
        }
      }, {
        display: 'Name : ascending',
        value: {
          sortBy: 'name',
          sortOrder: 'asc'
        }
      }, {
        display: 'Name : descending',
        value: {
          sortBy: 'name',
          sortOrder: 'desc'
        }
      }]
    }
  },
  head () {
    return {
      title: `${this.$store.getters['WebSetting/dba']} | All Product page`,
      style: [{ innerHTML: this.$store.getters['WebSetting/css'] }],
      link: [
        { rel: 'icon', type: 'image/x-icon', href: this.$store.getters['WebSetting/favIconUrl'] }
      ],
      meta: [
        { property: 'og:image', content: this.$store.getters['WebSetting/bannerImageUrl'] || 'svg/appBarLogo.svg' }
      ]
    }
  },
  mounted () {
    this.menu = this.menuData
    this.getMenu()
  },
  methods: {
    prevPage () {
      if (this.page > 1) {
        this.page -= 1
      }
      this.getMenu()
    },
    nextPage () {
      if (this.page < this.maxPage) {
        this.page += 1
      }
      this.getMenu()
    },
    toPage (val) {
      if (val !== this.page) {
        this.page = val
      }
      this.getMenu()
    },
    async getMenu () {
      const newMenu = await MenuService.getMenuList({
        category: this.selected || null,
        search: this.search || null,
        sortBy: this.sortBy || null,
        sortOrder: this.sortOrder || null,
        limit: this.limit,
        page: this.page,
        restaurantId: this.restaurantId
      })

      this.maxPage = newMenu.pages

      this.menu = newMenu.results.map((item) => {
        const newItme = item
        if (newItme.imageUrls.length === 0) {
          newItme.imageUrls.push('/images/dummy.jpg')
        }
        return newItme
      })
    },
    searchInput () {
      this.page = 1
      this.getMenu()
    },
    getByFilter (e) {
      this.selected = e.target.value
      this.searchInput()
    },
    sort (e) {
      let value = null
      this.sortBy = null
      this.sortOrder = null

      if (e.target.value) {
        value = JSON.parse(e.target.value)
        this.sortBy = value.sortBy
        this.sortOrder = value.sortOrder
      }

      this.searchInput()
    }
  }
}
</script>

<style scoped>
select {
  appearance: none;
}
</style>
