<template>
  <div class="min-h-[100%] bg-[#f7f8fa]">
    <BannerTop />
    <client-only>
      <MenuList :menu-by-type="menuData" />
    </client-only>
    <!-- <CardCarousel
      v-for="(item, index) in menuByType"
      :id="mapId(index)"
      :key="index"
      :item="item"
      class="mb-7"
      @toggleShow="toggleShow" /> -->
    <!-- <MapMain id="contact" /> -->
    <!-- <transition name="fade">
      <div
        v-if="show"
        class="absolute">
        <AddToCartPopUp
          :item="selected"
          @addToCart="addToCart"
          @hide="hide()" />
      </div>
    </transition> -->
    <transition name="notiFade">
      <div v-if="action">
        <ResponseModal message="Item added to cart." />
      </div>
    </transition>
    <client-only>
      <CartButton />
    </client-only>
  </div>
</template>

<script>
import BannerTop from '@/components/bannerTop.vue'
import MenuList from '@/components/main/menuList.vue'
// import MapMain from '@/components/mapMain.vue'
// import CardCarousel from '@/components/cardCarousel.vue'
// import AddToCartPopUp from '@/components/modal/addToCartPopUp.vue'
import ResponseModal from '@/components/modal/responseModal.vue'
import CartButton from '@/components/modal/cartButton.vue'
import MenuProvider from '@/resources/MenuProvider'

const MenuService = new MenuProvider()

export default {
  name: 'IndexPage',
  components: {
    BannerTop,
    MenuList,
    // CardCarousel,
    // AddToCartPopUp,
    ResponseModal,
    CartButton
  },
  async asyncData ({ store }) {
    const restaurantId = store.getters['WebSetting/restaurantId']
    const menuData = await MenuService.getCategoryList({ restaurantId, limit: 999999 })
    return { menuData }
  },
  data () {
    return {
      show: false,
      selected: {
        name: '',
        description: '',
        imageUrls: [],
        modifier: [],
        activeMod: [],
        note: ''
      },
      action: false
    }
  },
  head () {
    return {
      title: `${this.$store.getters['WebSetting/dba']} | Home page`,
      style: [{ innerHTML: this.$store.getters['WebSetting/css'] }],
      link: [
        { rel: 'icon', type: 'image/x-icon', href: this.$store.getters['WebSetting/favIconUrl'] }
      ],
      meta: [
        { property: 'og:image', content: this.$store.getters['WebSetting/bannerImageUrl'] }
      ]
    }
  },
  computed: {
    itemInCart () {
      return this.$store.getters['Cart/itemInCart']
    },
    items () {
      return this.$store.getters['Cart/items']
    }
  },
  methods: {
    async toggleShow (id) {
      const restaurantId = this.$store.getters['WebSetting/restaurantId']
      this.selected = await MenuService.getMenuByID(id, restaurantId)
      if (this.selected.imageUrls.length === 0) {
        this.selected.imageUrls = '/images/dummy.jpg'
      }
      this.show = true
    },
    hide () {
      this.show = false
    },
    addToCart (mod, note) {
      const newMod = mod.sort((a, b) => (b.modPrice - a.modPrice))
      const newNote = note

      this.$store.dispatch('Cart/addToCart', {
        selected: this.selected,
        newMod,
        newNote
      })

      this.action = true
      setTimeout(() => {
        this.action = false
      }, 1500)

      this.hide()
    },
    showLogin () {
      this.isLoggingIn = true
      this.isCreating = false
      this.isGuestIn = false
    },
    showCreate () {
      this.isLoggingIn = false
      this.isCreating = true
      this.isGuestIn = false
    },
    showGuest () {
      this.isLoggingIn = false
      this.isCreating = false
      this.isGuestIn = true
    },
    close () {
      this.isLoggingIn = false
      this.isCreating = false
      this.isGuestIn = false
    },
    setPage (val) {
      this.currentPage = val
    },
    mapId (index) {
      switch (index) {
        case 0:
          return 'recommended'
        case 1:
          return 'categories'
        default:
          return `categories-${index}`
      }
    }
  }
}
</script>

<style>
* {
  font-family: 'Poppins';
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity ease-in-out .25s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.notiFade-enter-active {
  transition: opacity ease-in-out .15s .1s;
}

.notiFade-leave-active {
  transition: opacity ease-in-out 1.5s .5s;
}

.notiFade-enter,
.notiFade-leave-to {
  opacity: 0;
}

.hide-scrollbar {
  /*FireFox*/
  scrollbar-width: none;
  /*IE10+*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.hide-scrollbar::-webkit-scrollbar {
  /*Chrome, Safari, Edge*/
  display: none;
}
</style>
