<template>
  <div class="py-6 bg-[#f7f8fa]">
    <div class="container sticky">
      <CartStatus />
    </div>
    <CartOrder />
  </div>
</template>

<script>
import CartStatus from '@/components/cart/cartStatus.vue'
import CartOrder from '@/components/cart/cartOrder.vue'
// import checkOut from '@/components/cart/checkOut.vue'
import WebSettingProvider from '@/resources/WebSettingProvider'

const WebSettingService = new WebSettingProvider()

export default {
  name: 'CartPage',
  components: { CartOrder, CartStatus },
  head () {
    return {
      title: `${this.$store.getters['WebSetting/dba']} | Cart page`,
      style: [{ innerHTML: this.$store.getters['WebSetting/css'] }],
      link: [
        { rel: 'icon', type: 'image/x-icon', href: this.$store.getters['WebSetting/favIconUrl'] }
      ],
      meta: [
        { property: 'og:image', content: this.$store.getters['WebSetting/bannerImageUrl'] }
      ]
    }
  },
  computed: {
    state () {
      return this.$store.getters['Cart/state']
    },
    isLogin () {
      return this.$store.getters['User/isLogin']
    },
    domain () {
      return this.$store.getters.domain
    }
  },
  async mounted () {
    const data = await WebSettingService.getSetting({ domain: this.domain })
    await this.$store.dispatch('WebSetting/setSetting', data)
    this.$store.dispatch('Cart/setState', 'cart')
  }
}

</script>

<style scoped>

</style>
