<template>
  <div class="py-6 bg-[#f7f8fa]">
    <div
      class="container flex flex-col gap-4 lg:gap-28 justify-center items-center lg:items-start lg:justify-between lg:flex-row">
      <AccountTab />
      <div
        v-if="isLogin"
        class="w-full lg:w-4/5">
        <div class="text-base font-semibold lg:text-2xl">
          Order History
        </div>
        <OrderTable />
      </div>
    </div>
  </div>
</template>

<script>
import AccountTab from '@/components/account/accountTab.vue'
import OrderTable from '@/components/orderTable.vue'

export default {
  name: 'OrderHistoryPage',
  components: { AccountTab, OrderTable },
  head () {
    return {
      title: `${this.$store.getters['WebSetting/dba']} | Order History page`,
      style: [{ innerHTML: this.$store.getters['WebSetting/css'] }],
      link: [
        { rel: 'icon', type: 'image/x-icon', href: this.$store.getters['WebSetting/favIconUrl'] }
      ],
      meta: [
        { property: 'og:image', content: this.$store.getters['WebSetting/bannerImageUrl'] }
      ]
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['User/isLogin']
    }
  }
}
</script>

<style scoped>

</style>
