<template>
  <div class="py-6 bg-[#f7f8fa]">
    <div class="container mb-6">
      <CartStatus />
      <div class="flex flex-col items-center justify-center gap-6 mt-4 lg:mt-12">
        <h1 class="text-2xl font-semibold">
          Order Summary
        </h1>
        <div class="w-full h-px border berder-solid border-offline"></div>
      </div>
    </div>
    <div class="container flex flex-col-reverse gap-10 lg:grid lg:grid-cols-2">
      <PaymentForm
        :order-id="orderId" />
      <div>
        <payment-order-list
          v-for="(receiptItem, index) in orderData.items"
          :key="index"
          :receipt-item="receiptItem" />
        <div class="grid grid-cols-1 text-right gap-x-12">
          <div
            class="flex justify-end my-2 lg:my-2">
            <span class="mr-4">Subtotal</span>
            <span class="w-40">{{ formatPrice(orderData.subtotal) }}</span>
          </div>
          <div
            class="flex justify-end my-2 lg:my-2">
            <span class="mr-4">Tax</span>
            <span class="w-40">{{ formatPrice(orderData.tax) }}</span>
          </div>
          <div
            v-if="orderData.serviceCharge !== 0"
            class="flex justify-end my-2 lg:my-2">
            <span class="mr-4">Service Charge</span>
            <span class="w-40">{{ formatPrice(orderData.serviceCharge) }}</span>
          </div>
          <div
            v-if="orderData.convenienceFee !== 0"
            class="flex justify-end my-2 lg:my-2">
            <span class="mr-4">Convenience Fee</span>
            <span class="w-40">{{ formatPrice(orderData.convenienceFee) }}</span>
          </div>
          <div class="flex justify-end my-2">
            <span class="mr-4 text-sm lg:text-base"> Total before Tip </span>
            <span class="w-40">{{ formatPrice(orderData.subtotal + orderData.tax + orderData.convenienceFee + orderData.serviceCharge) }} </span>
          </div>
          <div class="flex items-center justify-end my-2">
            <span class="mr-4 text-sm lg:text-base">Tip</span>
            <span class="w-40">{{ formatPrice(tips) }} </span>
          </div>

          <div class="grid grid-cols-2 gap-1 lg:grid-cols-4 lg:gap-2">
            <div
              v-for="(option, index) in tipsOption"
              :key="index">
              <input
                :id="option"
                v-model="tipsPercent"
                type="radio"
                :value="option"
                class="hidden">
              <label
                :for="option"
                :class="{'selected': option === tipsPercent && !isCustom}"
                class="grid items-center justify-center w-full grid-cols-1 gap-4 p-1 duration-200 bg-white rounded cursor-pointer h-fit lg:h-10 place-items-center lg:gap-0 bg-info lg:p-2"
                @click="disableInput(true, option)">
                <span class="font-medium lg:font-semibold">{{ option }}%</span>
                <!-- <span class="font-base">{{ tipsAmount[index] }}</span> -->
              </label>
            </div>
            <div class="col-span-1 lg:col-span-2">
              <input
                id="selectNone"
                v-model="tipsPercent"
                type="radio"
                value="99"
                class="hidden">
              <label
                for="selectNone"
                :class="{'selected': isCustom}"
                class="flex flex-row items-center justify-center w-full gap-2 p-1 duration-200 bg-white rounded cursor-pointer h-fit lg:h-10 lg:flex-col lg:gap-0 bg-info lg:p-2"
                @click="disableInput(false, 0)">
                <span class="font-medium lg:font-semibold">Custom</span>
              </label>
            </div>
            <div
              id="customTipsField"
              :class="{
                'opacity-1 h-full': isCustom,
                'opacity-0 h-0': !isCustom
              }"
              class="flex items-center justify-end col-span-1 gap-4 duration-200 lg:col-span-2">
              <span class="w-auto lg:w-1/3">Tip $</span>
              <input
                id="input"
                v-model="customTips"
                type="text"
                maxlength="9"
                placeholder="Custom Tip"
                disabled
                class="flex items-center justify-end w-2/3 px-4 py-2 duration-200 bg-white border border-solid rounded lg:w-full border-offline disabled:bg-info"
                @input="setPercent(customTips)">
            </div>
          </div>
          <div class="flex justify-end my-2 text-xl lg:text-2xl">
            <span class="mr-4 font-semibold">Total </span>
            <span class="w-40 font-semibold">{{ formatPrice(orderData.subtotal + orderData.tax + orderData.serviceCharge + tips + orderData.convenienceFee) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CartStatus from '@/components/cart/cartStatus.vue'
import PaymentForm from '@/components/cart/paymentForm.vue'
import PaymentOrderList from '@/components/cart/paymentOrderList.vue'
import OrderProvider from '@/resources/OrderProvider'

const OrderService = new OrderProvider()

const formatter = new Intl.NumberFormat('en-US', {
  style: 'currency',
  currency: 'USD'
})

export default {
  name: 'PaymentPage',
  components: { PaymentOrderList, CartStatus, PaymentForm },
  data () {
    return {
      orderId: null,
      orderData: {
        alcoholTax: 0,
        convenienceFee: 0,
        customer: {
          id: '',
          firstName: '',
          lastName: '',
          tel: ''
        },
        discount: 0,
        id: '',
        items: [{
          amount: 0,
          coverImage: null,
          isContainAlcohol: false,
          menuId: '',
          modifiers: [{
            abbreviation: '',
            id: '',
            label: '',
            name: '',
            nativeName: '',
            price: 0
          }],
          name: '',
          nativeName: '',
          note: '',
          price: 0,
          unit: 0
        }],
        numberOfGuest: 0,
        orderDate: '',
        orderMethod: '',
        orderStatus: '',
        orderType: '',
        paymentStatus: '',
        pickUpDate: '',
        restaurant: {
          address: {
            address: '',
            city: '',
            state: '',
            zipCode: ''
          },
          businessPhone: '',
          dba: '',
          email: '',
          id: '',
          legalBusinessName: ''
        },
        serviceCharge: 0,
        staff: null,
        subtotal: 0,
        tax: 0,
        tips: 0,
        total: 0
      },

      isCustom: false,
      customTips: 0,
      tipsPercent: 10,
      newTips: 0,
      tipsOption: [10, 15, 20, 25],
      tipsAmount: [],
      sumTips: []
    }
  },
  head () {
    return {
      title: `${this.$store.getters['WebSetting/dba']} | Payment page`,
      style: [{ innerHTML: this.$store.getters['WebSetting/css'] }],
      link: [
        { rel: 'icon', type: 'image/x-icon', href: this.$store.getters['WebSetting/favIconUrl'] }
      ],
      meta: [
        { property: 'og:image', content: this.$store.getters['WebSetting/bannerImageUrl'] }
      ]
    }
  },
  computed: {
    cart () {
      return this.$store.getters['Cart/items']
    },
    itemInCart () {
      return this.$store.getters['Cart/itemInCart']
    },
    state () {
      return this.$store.getters['Cart/state']
    },
    receipt () {
      return this.$store.getters['Cart/receipt']
    },
    net () {
      return this.$store.getters['Cart/netTotal']
    },
    serviceChargeAmount () {
      return this.$store.getters['Cart/serviceChargeAmount']
    },
    postTips () {
      return this.$store.getters['Cart/postTips']
    },
    tips () {
      return this.$store.getters['Cart/tips']
    },
    tempNetTotal () {
      return this.$store.getters['Cart/tempNetTotal']
    },
    preTips () {
      return typeof this.tempNetTotal === 'string' ? Number(this.tempNetTotal.replace('$', '')) : this.tempNetTotal
    },
    total () {
      const total = this.preTips + Number(this.customTips)
      return total.toFixed(2)
    }
  },
  async mounted () {
    await this.fetchOrder()
    this.$store.dispatch('Cart/setState', 'payment')

    this.newTips = this.tips
  },
  methods: {
    formatPrice (price) {
      return formatter.format(price)
    },
    async fetchOrder () {
      const { params } = this.$route
      this.$store.dispatch('Cart/setState', 'payment')
      try {
        if (!params.Id) {
          throw new Error('Order id not found.')
        }
        const orderId = params.Id
        const orderData = await OrderService.getOrderByID(orderId)

        this.orderId = orderData.id
        this.orderData = orderData
        this.$store.dispatch('Cart/setTempNetTotal', orderData.total)
        this.$store.dispatch('Cart/setConveninenceFee', orderData.convenienceFee)
        this.$store.dispatch('Cart/setServiceCharge', orderData.serviceCharge)
        this.disableInput(true, 10)
      } catch (e) {
        console.error(e)
        // this.$router.replace('/order')
      }
    },
    setPercent (val) {
      this.tipsPercent = val
      this.confirm(0)
    },
    disableInput (val, option) {
      this.isCustom = !val
      document.getElementById('input').disabled = val
      this.customTips = 0
      this.confirm(option)
    },
    confirm (percent) {
      if (this.customTips !== 0) {
        this.newTips = this.customTips
      } else {
        const index = this.tipsOption.findIndex(
          (option) => option === this.tipsPercent
        )
        if (index === -1) {
          this.newTips = this.customTips
        } else {
          this.newTips = this.tempNetTotal * (percent / 100)
        }
      }
      this.$store.dispatch('Cart/setTips', this.newTips)
    }
  }
}
</script>

<style scoped>

.selected {
  outline: 1px solid;
  background-color: #fff;
}

</style>
